{% load custom_tags %}
<div class="mb-detail w3-bar w3-right-align">
  <a title="Press to Go Back" class="w3-button w3-medium w3-round w3-padding-small w3-teal" onclick="backFunction()"><span class="fa fa-arrow-left"></span></a>
  {% if request.user|is_data_admin_or_owner:object %}
  <a title="Press to Edit" class="w3-button w3-medium w3-round w3-padding-small w3-teal" href="{% url edit_url pk=object.pk %}"><span class="fa fa-pencil-square-o"></span></a>
  <a title="Press to Delete" class="w3-button w3-medium w3-round w3-padding-small w3-teal" href="{% url delete_url pk=object.pk %}"><span class="fa  fa-trash-o"></span></a>
  {% else %}
  <button title="Please login to Edit" class="w3-disabled w3-button w3-medium w3-round w3-padding-small w3-teal"><span class="fa fa-pencil-square-o"></span></button>
  <button title="Please login to Delete" class="w3-disabled w3-button w3-medium w3-round w3-padding-small w3-teal"><span class="fa  fa-trash-o"></span></button>
  {% endif %}
</div>
