
    <button onclick="myFunction('Find')" class="w3-button w3-block w3-black w3-left-align"><span class="fa fa-filter"></span> Press here to filter</button>
    <form action="master_location_filter/" id="Find" class="w3-container w3-hide" method="get">
      <table class="mb-detail w3-table-all">
        <tr><th><label for="id_name">Master Location contains:</label></th><td><input type="text" name="master_location"></td></tr>
    <tr><th><label for="id_name">Reference contains:</label></th><td><input type="text" name="reference" ></td></tr>
      </table>
      <div class="mb-detail w3-bar w3-right-align">
        <button type="submit" class="w3-button w3-medium w3-round w3-padding-small w3-teal">Search &raquo;</button>
      </div>
    </form>