{% if messages %}
	{% for message in messages %}
		{% if message.tags == 'success'%}
			<div class="w3-panel w3-green">
			  <h3>Success!</h3>
			  <p>{{message}}</p>
			</div> 
		{% elif message.tags == 'info'%}
			<div class="w3-panel w3-blue">
			  <h3>Info!</h3>
			  <p>{{message}}</p>
			</div> 
		{% elif message.tags == 'warning'%}
			<div class="w3-panel w3-yellow">
			  <h3>Warning!</h3>
			  <p>{{message}}</p>
			</div> 
		{% elif message.tags == 'error'%}
			<div class="w3-panel w3-red">
			  <h3>Error!</h3>
			  <p>{{message}}</p>
			</div> 
		{% endif %}
	{% endfor %}
{% endif %}
