{% if messages %}
	{% for message in messages %}
		{% if message.tags == 'success'%}
			<div class="w3-panel w3-green">
			  <h3>Success!</h3>
			  <p>{{message}}</p>
			</div> 
		{% elif message.tags == 'info'%}
			<div class="w3-panel w3-blue">
			  <h3>Info!</h3>
			  <p>{{message}}</p>
			</div> 
		{% elif message.tags == 'warning'%}
			<div class="w3-panel w3-yellow">
			  <h3>Warning!</h3>
			  <p>{{message}}</p>
			</div> 
		{% elif message.tags == 'error'%}
		<div class="w3-panel w3-red">
			<h3>Error!</h3>
			<p hidden id="message">{{message}}</p>
			<script>
				document.addEventListener("DOMContentLoaded", function() {
					var messageElement = document.getElementById("message");
					var messageText = messageElement.textContent;
					var parts = messageText.split('|');
					
					// Assuming you want to display each part in a separate paragraph
					parts.forEach(function(part) {
						var newParagraph = document.createElement('p');
						newParagraph.textContent = part;
						messageElement.parentNode.insertBefore(newParagraph, messageElement.nextSibling);
					});
				});
			</script>
		</div>
		
		{% elif message.tags == 'import-message'%}
		<div class="w3-panel w3-green">
		  <h3>Data import successful</h3>
		  <p>{{message}}</p>
		  <button class="w3-button w3-green w3-round w3-hover-white" 
		  onclick="showInfo('imported-data')" 
		  style="margin-bottom: 10px; border: solid white; border-width: thin;"> 
			Show imported data
		  </button>
		</div>
		{% elif message.tags == 'show-data'%}
		<div class="w3-panel">
		  <div id="imported-data" class="w3-hide" style="overflow: auto; width: 75vw;">
			{{message | safe}}
		  </div>
		</div>
	{% endif %}
	{% endfor %}
	<script>
		function showInfo(id) {
		  var x = document.getElementById(id);
		  if (x.className.indexOf("w3-show") == -1) {
			x.className += " w3-show";
		  } else { 
			x.className = x.className.replace(" w3-show", "");
		  }
	  }
		</script>
{% endif %}
