{% if messages %}
{% regroup messages by tags as message_list %}

{% for message_group in message_list %}
    <div class="{% if message_group.grouper == 'success' %}w3-green
                {% elif message_group.grouper == 'info' %}w3-blue
                {% elif message_group.grouper == 'warning' %}w3-yellow
                {% elif message_group.grouper == 'error' %}w3-red
                {% endif %} w3-panel">
        <h3>
            {% if message_group.grouper == 'success' %}Success!
            {% elif message_group.grouper == 'info' %}Info!
            {% elif message_group.grouper == 'warning' %}Warning!
            {% elif message_group.grouper == 'error' %}Error!
            {% endif %}
        </h3>
		{% if message_group.grouper in ['success', 'info', 'warning', 'error'] %}
        {% for message in message_group.list %}
            <p>{{ message }}</p>
        {% endfor %}
    </div>
{% endfor %}

{% for message in messages %}	
	{% if message.tags == 'import-message'%}
		<div class="w3-panel w3-green">
		  <h3>Data import successful</h3>
		  <p>{{message}}</p>
		  <button class="w3-button w3-green w3-round w3-hover-white" 
		  onclick="showInfo('imported-data')" 
		  style="margin-bottom: 10px; border: solid white; border-width: thin;"> 
			Show imported data
		  </button>
		</div>
		{% elif message.tags == 'show-data'%}
		<div class="w3-panel">
		  <div id="imported-data" class="w3-hide" style="overflow: auto; width: 75vw;">
			{{message | safe}}
		  </div>
		</div>
	{% endif %}
{% endfor %}
	<script>
		function showInfo(id) {
		  var x = document.getElementById(id);
		  if (x.className.indexOf("w3-show") == -1) {
			x.className += " w3-show";
		  } else { 
			x.className = x.className.replace(" w3-show", "");
		  }
	  }
		</script>
{% endif %}
