<head>
    <style>
        .tsn-td {
            height: 100px;
        }
    </style>
</head>

<body>
    <div id='loadinAnimation' style='display:none'>
        <div>Please wait...</div>
    </div>
    <table class="mb-form w3-table-all">
        <tr>
            <th class="w3-twoquarter">Search TSN from ITIS</th>
            <td class="w3-twoquarter">
                <input id="itis-search-bar" type="text" placeholder="Search...">
            </td>
        </tr>
    </table>
    <div class="mb-detail w3-bar w3-right-align">
        <button id="itis-search-button" class="w3-button w3-medium w3-round w3-padding-small w3-teal" onclick="get_tsn()">Search&nbsp; <i class="fa fa-angle-right"></i><i class="fa fa-angle-right"></i></button>
    </div>
    <div class="w3-container w3-text-teal">
        <h2 id="itis-list-header"></h2>
    </div>
    <div id="tsn-table-container">
        <table class="mb-form w3-table-all" id="itis-list">

        </table>
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
    <script>
        document.getElementById("itis-search-bar").addEventListener("keyup", function(event) {
            event.preventDefault();
            if (event.keyCode === 13) {
                document.getElementById("itis-search-button").click();
            }
        });
        var page = 0
        var res = null
        function get_tsn(){
            query=document.getElementById('itis-search-bar').value;
            $.ajax({
                url: '{% url "tsn-search" %}',
                type: 'GET',
                data: {
                    query:query
                },
                success: function (response) {
                    res = response
                    page=0;
                    create_tsn_table()
                    if (Object.entries(res).length > 10) create_page_buttons();
                    else if (document.getElementById("previous-page-button") != null) {
                        document.getElementById("previous-page-button").remove()
                        document.getElementById("next-page-button").remove()
                        document.getElementById("first-page-button").remove()
                        document.getElementById("last-page-button").remove()
                        document.getElementById("page-counter").remove()
                    }
                    
                }
            }); 
        }
        function create_page_buttons() {
            if (document.getElementById("page-counter") == null) {
                counter = document.createElement("span");
                counter.id = "page-counter"
            } else {
                counter = document.getElementById("page-counter")
            }
            
            if (document.getElementById("first-page-button") == null) {
                first = document.createElement("button");
                first.id="first-page-button";
                first.classList.add("w3-button", "w3-medium", "w3-round", "w3-padding-small", "w3-teal", "w3-margin")
                
                let button_i = document.createElement("i");
                button_i.classList.add("fa","fa-angle-left");
                first.appendChild(button_i);
                first.appendChild(button_i.cloneNode(true));
                first.appendChild(document.createTextNode(" "))
                first.appendChild(button_i.cloneNode(true));
                first.appendChild(button_i.cloneNode(true));
                
                document.getElementById("tsn-table-container").appendChild(first);
                first.onclick = function() {
                    page=0;
                    counter.innerHTML = "Page "+(page+1)+" of "+(Object.entries(res).length/10);
                    create_tsn_table();
                    
                }
            }

            if (document.getElementById("previous-page-button") == null) {
                previous = document.createElement("button");
                previous.id="previous-page-button";
                previous.classList.add("w3-button", "w3-medium", "w3-round", "w3-padding-small", "w3-teal", "w3-margin");
                
                let button_i = document.createElement("i");
                button_i.classList.add("fa","fa-angle-left");
                previous.appendChild(button_i);
                previous.appendChild(button_i.cloneNode(true));
                
               
                document.getElementById("tsn-table-container").appendChild(previous);
                previous.onclick = function() {
                    if ((page-1)*10>=0) {
                        page-=1;
                        counter.innerHTML = "Page "+(page+1)+" of "+(Object.entries(res).length/10);
                        create_tsn_table();
                    }
                }
            }
            
            
            if (!document.getElementById("tsn-table-container").contains(counter)) {
                document.getElementById("tsn-table-container").appendChild(counter);
            }
            counter.innerHTML = "Page "+(page+1)+" of "+(Object.entries(res).length/10);
            
            if (document.getElementById("next-page-button") == null) {
                next = document.createElement("button");
                next.id="next-page-button";
                next.classList.add("w3-button", "w3-medium", "w3-round", "w3-padding-small", "w3-teal", "w3-margin")
                
                let button_i = document.createElement("i");
                button_i.classList.add("fa","fa-angle-right");
                next.appendChild(button_i);
                next.appendChild(button_i.cloneNode(true));

                document.getElementById("tsn-table-container").appendChild(next);
                next.onclick = function() {
                    if ((page+1)*10<Object.keys(res).length) {
                        page+=1;
                        counter.innerHTML = "Page "+(page+1)+" of "+(Object.entries(res).length/10);
                        create_tsn_table();
                    }
                }
            }
            if (document.getElementById("last-page-button") == null) {
                first = document.createElement("button");
                first.id="last-page-button";
                first.classList.add("w3-button", "w3-medium", "w3-round", "w3-padding-small", "w3-teal", "w3-margin")
                
                let button_i = document.createElement("i");
                button_i.classList.add("fa","fa-angle-right");
                first.appendChild(button_i);
                first.appendChild(button_i.cloneNode(true));
                first.appendChild(document.createTextNode(" "))
                first.appendChild(button_i.cloneNode(true));
                first.appendChild(button_i.cloneNode(true));
                
                document.getElementById("tsn-table-container").appendChild(first);
                first.onclick = function() {
                    page=(Object.entries(res).length/10) - 1;
                    counter.innerHTML = "Page "+(page+1)+" of "+(Object.entries(res).length/10);
                    create_tsn_table();
                    
                }
            }
            
        }
        function create_tsn_table() {
            let list = document.getElementById("itis-list");
            list.innerHTML = "";
            document.getElementById("itis-list-header").innerHTML=res["message"]
            start = page*10;
            let header_row = create_tsn_row();
            let name_header = create_tsn_name_header();
            let author_header = create_tsn_author_header();
            let tsn_header = create_tsn_value_header();
            let button_header = create_button_header();
            header_row.appendChild(name_header);
            header_row.appendChild(author_header);
            header_row.appendChild(tsn_header);
            header_row.appendChild(button_header);
            list.appendChild(header_row);

            for (const [key, value] of Object.entries(res).slice(start,start+10)) {
                if (key == "message") continue;
                let row = create_tsn_row();
                let name = create_tsn_name(value["scientificName"]);
                let author = create_tsn_author(value["author"]);
                let tsn = create_tsn_value(key);
                let select_button = create_tsn_select_button(value);
                row.appendChild(name);
                row.appendChild(author)
                row.appendChild(tsn);
                row.appendChild(select_button);
                list.appendChild(row);
            }
        }
        function create_tsn_row() {
            let row = document.createElement("tr");
            row.classList.add("w3-row");
            return row;
        }
        function create_tsn_name_header() {
            let name_header = document.createElement("th");
            name_header.classList.add("w3-quarter");
            name_header.appendChild(document.createTextNode("Scientific name:"));
            return name_header;
        }
        function create_tsn_name(name) {
            let name_value = document.createElement("td");
            name_value.classList.add("w3-quarter");
            name_value.classList.add("tsn-td")
            name_value.appendChild(document.createTextNode(name));
            return name_value;
        }
        function create_tsn_author_header() {
            let author_header = document.createElement("th");
            author_header.classList.add("w3-quarter");
            author_header.appendChild(document.createTextNode("Author:"));
            return author_header
        }
        function create_tsn_author(author) {
            if (author == null) author = "-";
            let author_value = document.createElement("td");
            author_value.classList.add("w3-quarter");
            author_value.classList.add("tsn-td")
            author_value.appendChild(document.createTextNode(author));
            return author_value;
        }
        function create_tsn_value_header() {
            let tsn_header = document.createElement("th");
            tsn_header.classList.add("w3-quarter");
            tsn_header.appendChild(document.createTextNode("Tsn:"));
            return tsn_header;
        }
        function create_tsn_value(tsn) {
            let tsn_link = document.createElement("a");
            tsn_link.classList.add("btn", "btn-default");
            tsn_link.href = `https://www.itis.gov/servlet/SingleRpt/SingleRpt?search_topic=TSN&search_value=${tsn}#null`;
            tsn_link.target="_blank";
            tsn_link.appendChild(document.createTextNode(tsn));
            let tsn_span = document.createElement("span");
            tsn_span.classList.add("fa", "fa-external-link");
            tsn_link.appendChild(tsn_span);
            
            let tsn_value = document.createElement("td");
            tsn_value.classList.add("w3-quarter");
            tsn_value.classList.add("tsn-td")
            tsn_value.appendChild(tsn_link);
            return tsn_value;
        }
        function create_button_header() {
            let button_header = document.createElement("th");
            button_header.classList.add("w3-quarter");
            button_header.appendChild(document.createTextNode(""));
            return button_header;
        }
        function create_tsn_select_button(tsn_data) {
            let select_button = document.createElement("button");
            select_button.innerHTML="Add&nbsp;";
            select_button.onclick=function() {select_tsn(tsn_data)};
            select_button.classList.add("w3-button", "w3-round", "w3-teal","w3-padding-small", "w3-quarter");
            let select_button_i = document.createElement("i");
            select_button_i.classList.add("fa","fa-angle-right");
            select_button.appendChild(select_button_i);
            select_button.appendChild(select_button_i.cloneNode(true));
            return select_button;
        }
        function select_tsn(tsn_data) {
            console.log(tsn_data);
            document.getElementById("loadinAnimation").style.display="block";
            $.ajax({
                url: '{% url "tsn-search" %}',
                type: 'POST',
                data: {
                    csrfmiddlewaretoken: "{{ csrf_token }}",
                    tsn_data: JSON.stringify(tsn_data)
                },
                success: function (response) {
                    console.log(response);
                    if ($('#id_tsn').find("option[value='" + tsn_data["tsn"] + "']").length) {
                        $('#id_tsn').val(tsn_data["tsn"]).trigger('change');
                    } else {
                        let text = tsn_data["tsn"]+" - "+tsn_data["scientificName"];
                        let newOption = new Option(text, tsn_data["tsn"], true, true);
                        $('#id_tsn').append(newOption).trigger('change');
                    }
                    
                    document.getElementById("loadinAnimation").style.display="none";
                }
            });
        }
    </script>
</body>