{% extends "mb/base_generic.html" %}

{% block title %}
<title>MammalBase - Match Tool</title>
{% endblock %}

{% block content %} {% load custom_tags %}
<!--Article header -->
<header style="display:none">
  <h1>MammalBase - Trait Match Tool</h1>
</header>
<!--End of article header -->
<section class="w3-threequarter w3-container">
  <header class="w3-container w3-text-teal">
    <h2>Trait Match Tool</h2>
  </header>

  <div class="w3-container" style=" background-color: #f0f0f0; margin-bottom: 10px;">
    <p>The trait match tool allows to match unmatched source attributes to a suitable master attribute.</p>
    <p>The match tool presents one source attribute at a time and suggests the closest matching master attribute.
       The suggestion can then be accepted or skipped.</p>
  </div>

{% if unmatched_source %}
{% if request.user|is_data_admin_or_contributor %}
  <a href="{% url 'trait-match' unmatched_source.id %}" class="w3-button w3-medium w3-round w3-padding-small w3-teal">Go to Trait Match Tool</a>
{% else %}
  <p><a href="{% url 'login'%}?next={{request.path}}">Please login first</a></p>
{% endif %}
{% else %}
<p>No matches found</p>
{% endif %}
</section>

{% endblock %}
