{% extends "mb/base_generic.html" %}

{% block title %}
<title>MammalBase - Match Tool</title>
{% endblock %}

{% block content %} {% load custom_tags %}
<!--Article header -->
<header style="display:none">
  <h1>MammalBase - Trait Match Tool</h1>
</header>
<!--End of article header -->
<section class="w3-threequarter w3-container">
  <header class="w3-container w3-text-teal">
    <h2>Trait Match Tool</h2>
  </header>

  <div class="w3-container" style=" background-color: #f0f0f0; margin-bottom: 10px;">
    <p>The trait match tool allows to match unmatched source attributes to a suitable master attribute.</p>
    <p>The match tool presents one source attribute at a time and suggests the closest matching master attribute.
       The suggestion can then be accepted or skipped.</p>
  </div>
    {% include 'includes/find.html' %}
    {% if page_obj %}
      {% if user.is_authenticated %}
        <br>
      {% else %}
        <br>
      {% endif %}
      <table class="mb-list w3-table-all w3-small w3-responsive">
        <thead>
          <tr>
            <th>Source Trait</th>
            <th>Suggested Standard Trait</th>
          </tr>
        </thead>
        <tbody>
          {% for x in page_obj %}
            <tr>
                <td class="mb-public-internal">
                  <a title="Press for Details" href="{% url 'source_attribute-detail' pk=x.pk %}">{{ x.name }} <span class="fa fa-link w3-small"></span></a>
                </td>
                <td>{{ x.matched_master.name }}</td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    {% else %}
      <p>No matches found.</p>
    {% endif %}
</section>
{% endblock %}
{% block info %}
{% endblock %}
{% block pagination %}
  {% include 'mb/pagination.html' %}
{% endblock %}
{% block script %}
{% endblock %}
