{% extends "mb/base_generic.html" %}
{% block title %}
<title>MammalBase - {{ sourceLocation }}</title>
{% endblock %}
{% block content %} {% load custom_tags %}
<!--Article header -->
<header style="display:none">
  <h1>MammalBase - {{ sourceLocation }}</h1>
</header>
<!--End of article header -->
<section class="w3-threequarter w3-container">
  <header class="w3-row">
    <h2 class="w3-container w3-text-teal">Location Match:<span style="color: black;">{{ sourceLocation }}</span></h2>
    <div class="w3-half" id="Search" style="display: block;">
      <form method="POST">
        {% csrf_token %}
        <label style="font-size: 18px"><b>Refine Search:</b> <a class="fa fa-info-circle w3-large" title='Tip: If the location is not found, try modifying the search result (e.g. "Wilhelmina Rise" instead of "Wilhelmina Rise, Hawaii, USA")'></a></label>
        <input type="text" id="search" name="query" value="{{ query }}" style="margin-bottom: 8px; margin-top: 8px">
        <input type="submit" value="Submit" class="w3-button w3-medium w3-round w3-padding-small w3-teal" style="width: 80px; margin-bottom: 15px;">
      </form>
    </div>
    </header>
      {% if request.user|is_data_admin_or_contributor %}
        <br>
        <br>
      {% endif %}
      <table class="mb-list w3-table-all w3-medium w3-half">
        <thead>
          <tr>
            <th>Name</th>
            <th>Country</th>
            <th>ID <a class="fa fa-info-circle w3-medium" title="Click ID to go to Geonames location page"></a></th>
          </tr>
        </thead>
        <tbody>
          {% for location in result_locations %}
          <tr>
            {% if location.name %}
              <td>{{ location.name }}</td>
            {% else %}
              <td style="text-align:center">-</td>
            {% endif %}
            {% if location.countryName %}
              <td>{{ location.countryName }}</td>
            {% else %}
              <td style="text-align:center">-</td>
            {% endif %}
            {% if location.geonameId %}
              <td><a href="https://www.geonames.org/{{ location.geonameId }}">{{ location.geonameId }}</a></td>
            {% else %}
              <td style="text-align:center">-</td>
            {% endif %}
              <td style="text-align:right"><button onclick="handleMatchButtonClick('{{ location|escapejs }}', '{{ sourceLocation.id|escapejs }}')" class="w3-button w3-medium w3-round w3-padding-small w3-teal">
                Match&nbsp;<i class="fa fa-angle-right"></i></button></td>
          </tr>
          {% endfor %}
        </tbody>
      </table>

    <div id="successMessage" style="display: none;">
      <h3>{{ sourceLocation }} successfully matched!</h3>
      <div>New Master locations added:</div>
      <div id="masterLocation"></div>
    </div>    

  </section>
{% endblock %}

{% block script %}
<script>
  function handleMatchButtonClick(geoNamesLocation, sourceLocation) {
    // Create a FormData object to send data with POST request
    var formData = new FormData();
    formData.append('geoNamesLocation', geoNamesLocation);
    formData.append('sourceLocation', sourceLocation);

    // Send a POST request to the server
    fetch('/match_location/', {
      method: 'POST',
      body: formData,
      headers: {
        'X-CSRFToken': "{{ csrf_token }}"
      }
    })
    .then(response => {
      if (response.ok) {
        return response.json();
      } else {
        console.error('Response error:', response.statusText)
      }
    })
    .then(data => {
      document.querySelector('#masterLocation').innerHTML = data.masterLocation.join('<br>');

      document.querySelector('#search').style.display = 'none';
      document.querySelector('.mb-list').style.display = 'none';

      document.querySelector('#successMessage').style.display = 'block';
    })
    .catch(error => {
      console.error('Error:', error);
    });
  }
</script>
{% endblock %}