{% extends "mb/base_generic.html" %}

{% block title %}
<title>MammalBase - Match Tool</title>
{% endblock %}

{% block content %} {% load custom_tags %}
<!--Article header -->
<header style="display:none">
  <h1>MammalBase - Trait Match Tool</h1>
</header>
<!--End of article header -->
<section class="w3-threequarter w3-container">
  <header class="w3-container w3-text-teal">
    <h2>Trait Match Tool</h2>
  </header>

    <div id="message-container"></div>

    {% include 'includes/find.html' %}
    {% if page_obj %}
      <br>
      <table class="mb-list w3-table-all w3-small w3-responsive">
        <thead>
          <tr>
            <th style="width: 30%;">Source Trait</th>
            <th style="width: 5%;"></th>
            <th style="width: 30%;">Suggested Standard Trait</th>
            <th style="width: 30%;">Reference</th>
            <th style="width: 5%;"></th>
          </tr>
        </thead>
        <tbody>
            {% for x in page_obj %}
            <tr>
              <td class="mb-public-internal source-attribute-name">
                <span class="editable" data-source-attribute-id="{{ x.pk }}">{{ x.name }}</span>
                <a title="Press for Details" href="{% url 'source_attribute-detail' pk=x.pk %}">
                    <span class="fa fa-link w3-small"></span>
                </a>  
              </td>
              <td>
                <button id="editButton_{{ x.pk }}" title="Modify the source trait name" type="button" 
                  class="w3-button w3-medium w3-round w3-padding-small w3-teal">
                  &nbsp;<i class="fa fa-pencil-square-o"></i>
                </button>
              </td>
              <td>
                <select name="master_attribute" class="w3-select">
                  {% for master_attribute in master_attributes %}
                    {% if x.matched_master %}
                      {% if x.matched_master.id == master_attribute.id %}
                        <option value="{{ master_attribute.id }}" selected>{{ master_attribute.name }}</option>
                      {% else %}
                        <option value="{{ master_attribute.id }}">{{ master_attribute.name }}</option>
                      {% endif %}
                    {% else %}
                      <option value="{{ master_attribute.id }}">{{ master_attribute.name }}</option>
                    {% endif %}
                  {% endfor %}
                </select>
              </td> 
              <td>{{ x.reference}}</td>
              <td>
                <button id="matchButton_{{ x.pk }}" title="Press to match the source attribute" type="button"
                  class="w3-button w3-medium w3-round w3-padding-small w3-teal">
                  Match&nbsp;<i class="fa fa-angle-right"></i>
                </button>
              </td>
            </tr>
            {% endfor %}
        </tbody>
      </table>
    {% else %}
      <p>No matches found.</p>
    {% endif %}
</section>
{% endblock %}
{% block info %}
{% endblock %}
{% block pagination %}
  {% include 'mb/pagination.html' %}
{% endblock %}
{% block script %}
<script>
  $(document).ready(function() {
    // Event listeners
    $("button[id^='editButton_']").click(handleEditButtonClick);
    $("table").on("blur", "td.source-attribute-name input.edit-input", handleEditInputBlur);
    $("table").on("click", "td.source-attribute-name .editable", handleEditableClick);
    $("button[id^='matchButton_']").click(handleMatchButtonClick);

    // Functions
    function handleEditButtonClick(event) {
      var sourceAttributeId = $(this).attr("id").split("_")[1];
      var $editableSpan = $(this).closest("tr").find("td.source-attribute-name .editable");
      activateEditableField($editableSpan);
    }

    function activateEditableField($editableSpan) {
      var currentValue = $editableSpan.text();
      $editableSpan.html("<input type='text' class='edit-input' value='" + currentValue + "'>");
      $editableSpan.find("input").focus();
    }

    function handleEditInputBlur() {
      var $input = $(this);
      var newValue = $input.val();
      var sourceAttributeId = $input.closest("td").find(".editable").data("source-attribute-id");
      
      if (newValue.trim() === "") {
        showMessage("error", "Source Trait cannot be empty.");
        return;
      }
      
      $.ajax({
        url: "{% url 'source_attribute_edit' %}",
        method: "POST",
        data: {
          source_attribute_id: sourceAttributeId,
          new_name: newValue,
          csrfmiddlewaretoken: "{{ csrf_token }}"
        },
        success: function(data) {
          getMatch(newValue, sourceAttributeId);
        },
        error: function(xhr, status, error) {
          showMessage("error", "An error occurred while editing.");
        }
      });
    }

    function handleEditableClick() {
      if (!$(this).find("input").length) {
        activateEditableField($(this));
      }
    }

    function getMatch(sourceAttributeName, sourceAttributeId) {
        $.ajax({
          url: "{% url 'get_match_endpoint' %}",
          method: "POST",
          data: {
            source_attribute_name: sourceAttributeName,
            csrfmiddlewaretoken: "{{ csrf_token }}"
          },
          success: function(data) {
            if (data.match) {
              var selectedMasterAttributeId = data.match.id;
              var $dropdown = $("span.editable[data-source-attribute-id='" + sourceAttributeId + "']").closest("tr").find("select[name='master_attribute']");
              $dropdown.val(selectedMasterAttributeId);
            } else {
              console.log("No match found for current name");
            }
            },
          error: function(xhr, status, error) {
            console.error("Error fetching match:", error);
        }
      });
   }

    function handleMatchButtonClick() {
      var sourceAttributeId = $(this).attr("id").split("_")[1];
      var selectedMasterAttributeId = $(this).closest("tr").find("select[name='master_attribute']").val();
      matchAttributes(sourceAttributeId, selectedMasterAttributeId);
    }

    function matchAttributes(sourceAttributeId, selectedMasterAttributeId) {
      $.ajax({
        url: "{% url 'match_operation_endpoint' %}",
        method: "POST",
        data: {
          source_attribute_id: sourceAttributeId,
          selected_master_attribute_id: selectedMasterAttributeId,
          csrfmiddlewaretoken: "{{ csrf_token }}"
        },
        success: function(data) {
          if (data.success) {
            showMessage("success", "Match successful!");
            location.reload();
          } else {
            showMessage("error", "Match failed: " + data.error);
          }
        },
        error: function(xhr, status, error) {
          showMessage("error", "An error occurred while matching.");
        }
      });
    }

    function showMessage(type, message) {
      var className = (type === "error") ? "error-message" : "success-message";
      $("#message-container").html("<p class='" + className + "'>" + message + "</p>");
      setTimeout(function() {
        $("#message-container").empty();
      }, 4000);
    }
  });
</script>
{% endblock %}