Django==3.1.2
django-allauth==0.44.0
django-crispy-forms==1.9.2
django-debug-toolbar>=2.2
django-extensions>=3.0.9
django-select2~=7.2.0
django-simple-history~=2.8.0
django-userforeignkey~=0.3.0
django_filter~=2.3.0
djangorestframework~=3.11.0
Markdown~=3.0.1
mysqlclient~=2.0.1
packaging>=20.4
pandas>=1.1.4
pip>=20.2.4
plotly>=4.12.0
pytz~=2018.9
requests~=2.23.0
