{% extends "mb/base_generic.html" %}
{% block title %}
<title>MammalBase - News</title>
{% endblock %}
{% block content %}
{% load static %}
<!--Article header -->
<header style="display:none">
  <h1>MammalBase - News</h1>
</header>
<!--End of article header -->
<section class="w3-threequarter w3-container">
  <header class="w3-container w3-text-teal"><h2>MammalBase - News</h2></header>
  <p><b><i>September 1, 2020: the beta version of MammalBase is now online.</i></b></p>
  <p>This site is not the first online version of MammalBase. It was already in 2006 when the first online version was published for a limited amount of users.</p>
  <p>Currently, we are testing this new platform and we will add more data and functionalities as we proceed.</p>
</section>
{% endblock %}
{% block nav %}
<h4 class="w3-bar-item"><strong>News</strong></h4>
<a class="w3-bar-item w3-button w3-hover-black" href="{% url 'index_news' %}">Latest</a>
{% endblock %}
{% block info %}
{% endblock %}
{% block pagination %}
{% endblock %}
{% block script %}
{% endblock %}
