{% extends "mb/base_generic.html" %}
{% block title %}
<title>MammalBase - Database of mammals</title>
{% endblock %}
{% block content %}
{% load static %}
<!--Article header -->
<header style="display:none">
  <h1>MammalBase - Database of mammals</h1>
</header>
<!--End of article header -->
<section class="w3-threequarter w3-container">
  <header class="w3-container w3-text-teal"><h2>MammalBase - Database of recent mammals</h2></header>
  <p>Welcome to MammalBase.</p>
  <!-- Photo Grid -->
  <div class="w3-row" id="myGrid" style="margin-bottom:10px">
    <div class="w3-third">
      <img src="{% static "images/DSC03491.JPG" %}" alt="Geologists at work" width="100%">
      <img src="{% static "images/DSC03592.JPG" %}" alt="Geologists at work" width="100%">
      <img src="{% static "images/DSC03525.JPG" %}" alt="Geologists at work" width="100%">
      <img src="{% static "images/DSC03592.JPG" %}" alt="Geologists at work" width="100%">
    </div>

    <div class="w3-third">
      <img src="{% static "images/DSC03592.JPG" %}" alt="Geologists at work" width="100%">
      <img src="{% static "images/DSC03491.JPG" %}" alt="Geologists at work" width="100%">
      <img src="{% static "images/DSC03525.JPG" %}" alt="Geologists at work" width="100%">
      <img src="{% static "images/DSC03592.JPG" %}" alt="Geologists at work" width="100%">
    </div>

    <div class="w3-third">
      <img src="{% static "images/DSC03491.JPG" %}" alt="Geologists at work" width="100%">
      <img src="{% static "images/DSC03525.JPG" %}" alt="Geologists at work" width="100%">
      <img src="{% static "images/DSC03592.JPG" %}" alt="Geologists at work" width="100%">
      <img src="{% static "images/DSC03491.JPG" %}" alt="Geologists at work" width="100%">
    </div>
  </div>
</section>
{% endblock %}
{% block info %}
{% endblock %}
{% block pagination %}
{% endblock %}
{% block script %}
{% endblock %}
