<div class="w3-dropdown-hover w3-right w3-teal">
  <p>&nbsp;&nbsp;<i class="fa fa-info-circle"></i>&nbsp;&nbsp;</p>
  <div class="w3-dropdown-content w3-content w3-bar-block w3-border" style="right:0">
    <h4>Diet Sets</h4>
    <p>Diet Set is a description of diet for a taxon, generally for a species or a genus.</p>
    <p>Each time a set of Diet Items are described in the Data Source a separate Diet Set is entered.</p>
    <p>The same reference may list several Diet Sets for a taxon, for example a winter and a summer diet, a Diet Set from one study and one from another study.</p>
  </div>
</div>
