<div class="w3-dropdown-hover w3-right w3-teal">
  <p>&nbsp;&nbsp;<i class="fa fa-info-circle"></i>&nbsp;&nbsp;</p>
  <div class="w3-dropdown-content w3-content w3-bar-block w3-border" style="right:0">
    <h4>Food Items</h4>
    <p>Food Items are dietary items that are listed in the Data Source.</p>
    <p>The Food Item is written as it is in the Data Source.</p>
    <p>During our process, we will assing a Taxonomic Serial Number (TSN) to the Food Item in order to standardize them.</p>
  </div>
</div>
