{% extends "mb/base_generic.html" %}
{% block title %}
<title>MammalBase - Trait Relation for {{ attribute_relation.source_attribute }}</title>
{% endblock %}
{% block content %}
<!--Article header -->
<header style="display:none">
  <h1>MammalBase - Trait Relation for {{ attribute_relation.source_attribute }}</h1>
</header>
<!--End of article header -->
<section class="w3-threequarter w3-container">
  <header class="w3-container w3-text-teal">
    <h2 style="display:none">Standard Trait: {{ attribute_relation.source_attribute }}</h2>
  </header>
  <br>
  <div class="mb-detail w3-bar w3-right-align">
    <a title="Press to Go Back" class="w3-button w3-tiny w3-round w3-padding-small w3-teal" href="{{request.META.HTTP_REFERER}}"><span class="fa fa-arrow-left"></span></a>
    {% if user.is_authenticated %}
      <a title="Press to Edit" class="w3-button w3-tiny w3-round w3-padding-small w3-teal" href="{% url 'attribute_relation-edit' pk=attribute_relation.pk %}"><span class="fa fa-pencil-square-o"></span></a>
      <a title="Press to Delete" class="w3-button w3-tiny w3-round w3-padding-small w3-teal" href="{% url 'attribute_relation-delete' pk=attribute_relation.pk %}"><span class="fa  fa-trash-o"></span></a>
    {% else %}
      <button title="Please login to Edit" class="w3-disabled w3-button w3-tiny w3-round w3-padding-small w3-teal"><span class="fa fa-pencil-square-o"></span></button>
      <button title="Please login to Delete" class="w3-disabled w3-button w3-tiny w3-round w3-padding-small w3-teal"><span class="fa  fa-trash-o"></span></button>
    {% endif %}
  </div>
  <table class="mb-detail w3-table-all">
   <caption class="mb-detail w3-left-align">Trait Relation: {{ attribute_relation.source_attribute }}</caption>
   <tr>
    <th class="w3-quarter">Published Trait:</th>
    <td class="w3-threequarter">{{ attribute_relation.source_attribute }}</td>
   </tr>
   <tr>
    <th class="w3-quarter">Standard Trait:</th>
    <td class="w3-threequarter">{{ attribute_relation.master_attribute }}</td>
   </tr>
   <tr>
    <th class="w3-quarter">Relation:</th>
    <td class="w3-threequarter">{{ attribute_relation.relation }}</td>
   </tr>
   <tr>
    <th class="w3-quarter">Relation Status:</th>
    <td class="w3-threequarter">{{ attribute_relation.relation_status }}</td>
   </tr>
   <tr>
    <th class="w3-quarter">Data Status:</th>
    <td class="w3-threequarter">{{ attribute_relation.data_status }}</td>
   </tr>
  </table>
</section>
{% endblock %}
{% block info %}
{% endblock %}
{% block pagination %}
{% endblock %}
{% block script %}
{% endblock %}
