{% extends "mb/base_generic.html" %}
{% block title %}
<title>MammalBase - Source Trait value Relation for {{ choiceset_option_relation.source_choiceset_option }}</title>
{% endblock %}
{% block content %} {% load custom_tags %}
<!--Article header -->
<header style="display:none">
  <h1>MammalBase - Source Trait value Relation for {{ choiceset_option_relation.source_choiceset_option }}</h1>
</header>
<!--End of article header -->
<section class="w3-threequarter w3-container">
  <header class="w3-container w3-text-teal">
    <h2 style="display:none">Source Trait value: {{ choiceset_option_relation.source_choiceset_option }}</h2>
  </header>
  <br>
  <div class="mb-detail w3-bar w3-right-align">
    <a title="Press to Go Back" class="w3-button w3-medium w3-round w3-padding-small w3-teal" onclick="backFunction()"><span class="fa fa-arrow-left"></span></a>
    {% if request.user|is_data_admin_or_owner:choiceset_option_relation %}
      <a title="Press to Edit" class="w3-button w3-medium w3-round w3-padding-small w3-teal" href="{% url 'choiceset_option_relation-edit' pk=choiceset_option_relation.pk %}"><span class="fa fa-pencil-square-o"></span></a>
      <a title="Press to Delete" class="w3-button w3-medium w3-round w3-padding-small w3-teal" href="{% url 'choiceset_option_relation-delete' pk=choiceset_option_relation.pk %}"><span class="fa  fa-trash-o"></span></a>
    {% else %}
      <button title="Please login to Edit" class="w3-disabled w3-button w3-medium w3-round w3-padding-small w3-teal"><span class="fa fa-pencil-square-o"></span></button>
      <button title="Please login to Delete" class="w3-disabled w3-button w3-medium w3-round w3-padding-small w3-teal"><span class="fa  fa-trash-o"></span></button>
    {% endif %}
  </div>
  <table class="mb-detail w3-table-all">
   <caption class="mb-detail w3-left-align">Source Trait value: {{ choiceset_option_relation.source_choiceset_option }}</caption>
   <tr>
    <th class="w3-quarter">Source Trait value:</th>
    <td class="w3-threequarter">{{ choiceset_option_relation.source_choiceset_option }}</td>
   </tr>
   <tr>
    <th class="w3-quarter">Standard Trait value:</th>
    <td class="w3-threequarter">{{ choiceset_option_relation.master_choiceset_option }}</td>
   </tr>
  </table>
</section>
{% endblock %}
{% block info %}
{% endblock %}
{% block pagination %}
{% endblock %}
{% block script %}
{% endblock %}
