{% extends "mb/index_diet.html" %}
{% block title %}
<title>MammalBase - Diet Set Item: {{ dsi.food_item.name }}</title>
{% endblock %}
{% block content %} {% load custom_tags %}
<!--Article header -->
<header style="display:none">
  <h1>MammalBase - Diet Set Item: {{ dsi.food_item.name }}</h1>
</header>
<!--End of article header -->
<section class="w3-threequarter w3-container">
  <header class="w3-container w3-text-teal">
    <h2 style="display:none">Diet Set Item: {{ dsi.food_item.name }}</h2>
  </header>
  <br>
  <div class="mb-detail w3-bar w3-right-align">
    <a title="Press to Go Back" class="w3-button w3-medium w3-round w3-padding-small w3-teal" onclick="backFunction()"><span class="fa fa-arrow-left"></span></a>
    {% if request.user|is_data_admin_or_owner:dsi %}
      <a title="Press to Edit" class="w3-button w3-medium w3-round w3-padding-small w3-teal" href="{% url 'diet_set_item-edit' pk=dsi.pk %}"><span class="fa fa-pencil-square-o"></span></a>
      <a title="Press to Delete" class="w3-button w3-medium w3-round w3-padding-small w3-teal" href="{% url 'diet_set_item-delete' pk=dsi.pk %}"><span class="fa  fa-trash-o"></span></a>
    {% else %}
      <button title="Please login to Edit" class="w3-disabled w3-button w3-medium w3-round w3-padding-small w3-teal"><span class="fa fa-pencil-square-o"></span></button>
      <button title="Please login to Delete" class="w3-disabled w3-button w3-medium w3-round w3-padding-small w3-teal"><span class="fa  fa-trash-o"></span></button>
    {% endif %}
  </div>
  <table class="mb-detail w3-table-all">
    <caption class="mb-detail w3-left-align">Diet Set Item: {{ dsi.food_item.name }}</caption>
    <tr>
      <th class="w3-quarter">Food Item:</th>
      <td class="w3-threequarter">{{ dsi.food_item.name }}
        {% if common_names %}
          - ({{ common_names }})
        {% endif %}
      </td>
    </tr>
    <tr>
      <th class="w3-quarter">Part:</th>
      <td class="w3-threequarter">{{ dsi.food_item.part.caption }}</td>
    </tr>
    <tr>
      <th class="w3-quarter">TSN:</th>
      <td class="mb-public-internal w3-threequarter"><a title="Press for Details" href="{% url 'tsn-detail' tsn=dsi.food_item.tsn.tsn|default:0 %}">{{ dsi.food_item.tsn.tsn }} <span class="fa fa-link w3-small"></span></a></td>
    </tr>
    <tr>
      <th class="w3-quarter">TSN Complete Name:</th>
      <td class="w3-threequarter">{{ dsi.food_item.tsn.completename }}</td>
    </tr>
  </table>
</section>
{% endblock %}
{% block info %}
{% endblock %}
{% block pagination %}
{% endblock %}
{% block script %}
{% endblock %}
