{% extends "mb/base_generic.html" %}
{% block title %}
<title>MammalBase - Taxon Match for {{ entity_relation.source_entity }}</title>
{% endblock %}
{% block content %} {% load custom_tags %}
<!--Article header -->
<header style="display:none">
  <h1>MammalBase - Taxon Match for {{ entity_relation.source_entity }}</h1>
</header>
<!--End of article header -->
<section class="w3-threequarter w3-container">
  <header class="w3-container w3-text-teal">
    <h2 style="display:none">Taxon Match for {{ entity_relation.source_entity }}</h2>
  </header>
  <br>
  <div class="mb-detail w3-bar w3-right-align">
    <a title="Press to Go Back" class="w3-button w3-tiny w3-round w3-padding-small w3-teal" onclick="backFunction()"><span class="fa fa-arrow-left"></span></a>
    {% if request.user|is_data_admin_or_owner:entity_relation %}
    <a title="Press to Edit" class="w3-button w3-tiny w3-round w3-padding-small w3-teal" href="{% url 'entity_relation-edit' pk=entity_relation.pk %}"><span class="fa fa-pencil-square-o"></span></a>
    <a title="Press to Delete" class="w3-button w3-tiny w3-round w3-padding-small w3-teal" href="{% url 'entity_relation-delete' pk=entity_relation.pk %}"><span class="fa  fa-trash-o"></span></a>
    {% else %}
    <button title="Please login to Edit" class="w3-disabled w3-button w3-tiny w3-round w3-padding-small w3-teal"><span class="fa fa-pencil-square-o"></span></button>
    <button title="Please login to Delete" class="w3-disabled w3-button w3-tiny w3-round w3-padding-small w3-teal"><span class="fa  fa-trash-o"></span></button>
    {% endif %}
  </div>
  <table class="mb-detail w3-table-all w3-responsive">
    <caption class="mb-detail w3-left-align">Taxon Match for {{ entity_relation.source_entity }}</caption>
    <tr>
      <th class="w3-quarter">Literature Taxon:</th>
      {% if user.is_authenticated %}
        <td class="mb-private-internal w3-threequarter"><a title="Press for Details" href="{% url 'source_entity-detail' pk=entity_relation.source_entity.id %}">{{ entity_relation.source_entity }} <span class="fa fa-link w3-small"></span></a></td>
      {% else %}
        <td class="mb-private-internal w3-threequarter"><a title="Please login for Details" style="color:IndianRed;" href="">{{ entity_relation.source_entity }} <span class="fa fa-link w3-small"></span></a></td>
      {% endif %}
    </tr>
    <tr>
      <th class="w3-quarter">Published in:</th>
      {% if user.is_authenticated %}
        <td class="mb-private-internal w3-threequarter"><a title="Press for Details" href="{% url 'source_reference-detail' pk=entity_relation.source_entity.reference.id %}">{{ entity_relation.source_entity.reference }} <span class="fa fa-link w3-small"></span></a></td>
      {% else %}
        <td class="mb-private-internal w3-threequarter"><a title="Please login for Details" style="color:IndianRed;" href="">{{ entity_relation.source_entity.reference }} <span class="fa fa-link w3-small"></span></a></td>
      {% endif %}
    </tr>
    <tr>
      <th class="w3-quarter">Accepted Taxon:</th>
      <td class="mb-private-internal w3-threequarter"><a title="Press for Details" href="{% url 'master_entity-detail' pk=entity_relation.master_entity.id %}">{{ entity_relation.master_entity }} <span class="fa fa-link w3-small"></span></a></td>
    </tr>
    <tr>
      <th class="w3-quarter">Reference:</th>
      <td class="mb-private-internal w3-threequarter"><a title="Press for Details" href="{% url 'master_reference-detail' pk=entity_relation.master_entity.reference.id %}">{{ entity_relation.master_entity.reference }} <span class="fa fa-link w3-small"></span></a></td>
    </tr>
    <tr>
      <th class="w3-quarter">Relation Status:</th>
      <td class="w3-threequarter">{{ entity_relation.relation_status }}</td>
    </tr>
    <tr>
      <th class="w3-quarter">Data Status:</th>
      <td class="w3-threequarter">{{ entity_relation.data_status }}</td>
    </tr>
  </table>
</section>
{% endblock %}
{% block info %}
{% endblock %}
{% block pagination %}
{% endblock %}
{% block script %}
{% endblock %}
