{% extends "mb/base_generic.html" %}
{% block title %}
<title>MammalBase - Diets</title>
{% endblock %}
{% block content %} {% load custom_tags %}
{% load static %}
<!--Article header -->
<header style="display:none">
  <h1>MammalBase - Diets</h1>
</header>
<!--End of article header -->
<section class="w3-threequarter w3-container">
  <header class="w3-container w3-text-teal"><h2>MammalBase - Diets</h2></header>
  <!-- Photo Grid -->
  <div class="w3-row" id="myGrid" style="margin-bottom:10px">
    <div class="w3-third">
      <img src="{% static "images/Equus burchelli.JPG" %}" alt="Zepra - Equus quagga" width="100%">
    </div>

    <div class="w3-third">
      <img src="{% static "images/Canis mesomelas.JPG" %}" alt="Jackal - Canis mesomelas" width="100%">
    </div>

    <div class="w3-third">
      <img src="{% static "images/Kobus ellipsiprymnus.JPG" %}" alt="Waterbuck - Kobus ellipsiprymnus" width="100%">
    </div>
  </div>
  <p>We have collected dietary information for {{ num_diet_taxa }} mammalian taxa. This data includes {{ num_diet_set }} Diet Sets which are separate lists of mammalian diets based on the data reference, location, gender, study time and time of year.</p>
  <p>Currently, we have {{ num_diet_set_item }} Diet Set Items that represent {{ num_food_item }} different Food Items.</p>
</section>
{% endblock %}
{% block nav %}
<p>
  {% load static %} <img src="{% static 'images/logo.png' %}" style="position:relative; right:-6%; bottom:0%; width:40%; border:none;" />
</p>
<h4 class="w3-bar-item"><strong>Diet</strong></h4>
<a class="w3-bar-item w3-button w3-hover-black" href="{% url 'diet_set-list'%}">Diet sets</a>
<a class="w3-bar-item w3-button w3-hover-black" href="{% url 'food_item-list'%}">Food Items</a>
<a class="w3-bar-item w3-button w3-hover-black" href="{% url 'tsn-list'%}">ITIS TSN</a>
<a class="w3-bar-item w3-button w3-hover-black" href="{% url 'diet_set_reference-list'%}">References</a>
{% endblock %}
{% block info %}
{% endblock %}
{% block pagination %}
{% endblock %}
{% block script %}
{% endblock %}
