{% extends "mb/base_generic.html" %}
{% block title %}
<title>MammalBase - About</title>
{% endblock %}
{% block content %} {% load custom_tags %}
{% load static %}
<!--Article header -->
<header style="display:none">
  <h1>MammalBase - About</h1>
</header>
<!--End of article header -->
<section class="w3-threequarter w3-container">
  <header class="w3-container w3-text-teal"><h2>MammalBase - About</h2></header>
  <header class="w3-container w3-text-teal"><h3>MammalBase - Database of traits, measurements and diets of the species in class Mammalia</h3></header>
  <header class="w3-container w3-text-teal"><h4>Overview</h4></header>
  <p>MammalBase is a database of traits, measurements and diets of the species in class Mammalia (Table 1). It also provides Proximate Analysis data for several diet items.</p>
  <p>MammalBase aims to provide general information on mammals for broad-scale analyses in Macroecology, Palaeontology and the mammalian Community structures.</p>
  <p>MammalBase is maintained at the Natural Sciences Unit of Finnish Museum of Natural History LUOMUS — a research institution under the University of Helsinki in Finland.</p>
  <header class="w3-container w3-text-teal"><h4>Curated data</h4></header>
  <p>The data in MammalBase is harmonized against various standards: taxa are matched against the taxonomy of Wilson & Reeder (2005) (recent taxa) and the traits and their values are fitted with vocabularies or referenced descriptions of traits and values, for example, the dietary categories by Eisenberg (1981). Harmonizing the data that comes from various sources makes the analysis easier.</p>
  <p><b><i>Ecological Trait-data Standard (ETS)</i></b></p>
  <p>The Ecological Traitdata Standard (ETS) is a collection of terms for datasets on quantitative and qualitative organism properties (i.e. traits) that describe its performance or function in an ecosystem (Schneider et al., 2019).</p>
  <p>MammalBase uses the Ecological Trait-data Standard vocabulary for most of the data imports and exports. For Data Custodians, MammalBase provides means to assign verbatimScientificName, verbatimTraitName, verbatimTraitValue and verbatimTraitUnit against the standardised terms. This process will provide a certain degree of quality checks of the data.</p>
  <p><b>Table 1. Currently curated traits and measurements in MammalBase. For a current list, see Standard Traits at www.mammalbase.net/ma/</b></p>
  <table class="w3-table w3-border-top w3-border-bottom">
    <tr class="w3-border-top w3-border-bottom">
      <th colspan="2" class="w3-center">Measurements</th>
      <th>Teeth related traits</th>
      <th>Categorical traits</th>
    </tr>
    <tr><td>Body Mass (BM)</td><td>Head-Body Length - Male (HBL-M)</td><td>Dental orientation patch count lower (OPC-L)</td><td>Dietary category: Miljutin 2009</td></tr>
    <tr><td>Body Mass - Female (BM-F)</td><td>Hind Foot Length (HFL)</td><td>Dental orientation patch count upper (OPC-U)</td><td>Dietary category: Eisenberg 1981</td></tr>
    <tr><td>Body Mass - Male (BM-M)</td><td>Hind Foot Length - Female (HFL-F)</td><td>Dental topographic patch count lower (TPC-L)</td><td>Locomotion: Eisenberg 1981</td></tr>
    <tr><td>Ear Length (EL)</td><td>Hind Foot Length - Male (HFL-M)</td><td>Dental topographic patch count upper (TPC-U)</td><td>Hibernation</td></tr>
    <tr><td>Ear Length - Female (EL-F)</td><td>Tail Length (TL)</td><td>Hypsodonty index (HI)</td><td>Torpor</td></tr>
    <tr><td>Ear Length - Male (EL-M)</td><td>Tail Length - Female (TL-F)</td><td>Hypsodonty: Jernvall</td><td>Temporal habits</td></tr>
    <tr><td>Forearm Length (FA)</td><td>Tail Length - Male (TL-M)</td><td></td><td></td></tr>
    <tr><td>Forearm Length - Female (FA-F)</td><td>Total Length (ToL)</td><td></td><td></td></tr>
    <tr><td>Forearm Length - Male (FA-M)</td><td>Total Length - Female (ToL-F)</td><td></td><td></td></tr>
    <tr><td>Head-Body Length (HBL)</td><td>Total Length - Male (ToL-M)</td><td></td><td></td></tr>
    <tr><td>Head-Body Length - Female (HBL-F)</td><td></td><td></td><td></td></tr>
  </table>
  <p><b><i>Data governance and use:</i></b></p>
  <p>MammalBase is managed and used by several user roles (Table 2).</p>
  <p><b><i>Definitions and Responsibilities</i></b></p>
  <p><b><i>MammalBase Data</i></b></p>
  <p>The completion of MammalBase is a result of long-lasting data collection and management. Despite plenty of efforts to make the database as complete and accurate as possible, some errors may prevail. None of the contributors of this database is responsible for the inconvenience possibly resulting from incorrect information. Data Users are free to use this database as a reference but are also requested to check the original data from the publications whenever available. In most cases, reasonable data curation has been done before adding data to MammalBase.</p>
  <p><b><i>Data Category</i></b></p>
  <ul>
    <li>is a high-level classification of MammalBase Data. Each data category represents a collection of data sets with unique access requirements and standardization. For example species taxonomy, trait or dietary data.</li>
  </ul>
  <p><b><i>Data User</i></b></p>
  <ul>
    <li>A Data User can be any visitor on the internet who can access the fully open, basic version of the curated data entries in MammalBase without registering as a Registered User</li>
  </ul>
  <p><b><i>Registered User</i></b></p>
  <ul>
    <li>can be any researcher having an ORCID record - a unique, persistent identifier of researchers</li>
    <li>can download the basic version of the curated data entries and access certain parts of the website</li>
    <li>can become a Data Contributor</li>
    <li>ORCID enables us to credit the Data Contributor for the User’s effort</li>
  </ul>
  <p><b><i>Data Contributor</i></b></p>
  <ul>
    <li>is a Registered User who has contributed data to MammalBase</li>
    <li>can upload verbatim data using the ETS formatted templates</li>
    <li>can download extended curated data entries with references to original data sources in ETS format</li>
    <li>is credited in the dataset’s Metadata section (<i>author</i> and <i>bibliographicCitation</i>)</li>
  </ul>
  <p><b><i>Data Custodian</i></b></p>
  <ul>
    <li>is assigned specific data management responsibilities by a Data Steward</li>
    <li>is usually selected from the Data Contributors</li>
    <li>assigns <i>scientificName</i> to a <i>verbatimScientificName</i> and standard <i>traitID</i>, <i>traitName</i>, <i>traitValue</i> and <i>traitUnit</i> to <i>verbatimTraitName</i>, <i>verbatimTraitValue</i> and <i>verbatimTraitUnit</i></li>
    <li>along with the Data Contributor is credited in the dataset’s Metadata section (<i>author</i> and <i>bibliographicCitation</i>)</li>
  </ul>
  <p><b><i>Data Steward</i></b></p>
  <ul>
    <li>is assigned by a Data Trustee</li>
    <li>has the primary responsibility for the accuracy, privacy, and security of a designated set of MammalBase data</li>
    <li>is responsible for managing the MammalBase data standards (traits and measurements) and vocabularies</li>
  </ul>
  <p><b><i>Data Trustee</i></b></p>
  <ul>
    <li>has oversight responsibility for the portion of MammalBase Data that is related to the Data Categories managed, administered or run by the Data Stewards or Data Custodians</li>
    <li>is responsible for selecting and agreeing on the MammalBase data standards (traits and measurements) and vocabularies</li>
  </ul>
  <p><b>Table 2. Data governance examples. A modified representation following the NC State (2021).</b></p>
  <table class="w3-table w3-border-top w3-border-bottom">
    <tr class="w3-border-top w3-border-bottom">
      <th>Data Category</th>
      <th>Data Trustee</th>
      <th>Data Steward</th>
      <th>Data Custodian</th>
    </tr>
    <tr><td>Taxonomy</td><td>Selects the main taxonomy used in MammalBase</td><td>Automagical and manual control of matching taxonID and scientificName to a verbatimScientificName</td><td>Manual control of matching taxonID and scientificName to a verbatimScientificName</td></tr>
    <tr><td>Species Traits and Measurements</td><td>Selects the unique identifier set of the Traits and Measurements according to a public ontology; or a user-provided thesaurus of traits</td><td>Automagical and manual control of assigning traitID, traitName, traitValue and traitUnit to verbatimTraitName, verbatimTraitValue and verbatimTraitUnit in a dataset</td><td>Manual control of assigning traitID, traitName, traitValue and traitUnit to verbatimTraitName, verbatimTraitValue and verbatimTraitUnit</td></tr>
    <tr><td>Dataset</td><td>Selects the required Dataset Metadata standard</td><td>Automagical and manual control of Dataset Metadata</td><td>Manual control of Dataset Metadata</td></tr>
  </table>
  <header class="w3-container w3-text-teal"><h3>Collaboration and making MammalBase a tool for the scientific community</h3></header>
  <p>If you are interested in being a Data Contributor and share your mammal measurement/trait/diet data or if you are interested in being a Data Custodian of a specific taxonomic group or a mammalian trait contact the first author of <a class="btn btn-default" href="https://doi.org/10.1111/jbi.13480" target="_blank">Lintulaakso <i>et al.</i>, 2019. <span class="fa fa-external-link"></span></a> stating your name, current affiliation, area of expertise and your ORCID.</p>
  <header class="w3-container w3-text-teal"><h4>Citation</h4></header>
  <p><b><i>Minimum required attribution</i></b></p>
  <p>Data (https://www.mammalbase.net) by The MammalBase Community / CC BY 4.0. http://doi.org/xxxx</p>
  <p><b><i>Suggested citation or attribution</i></b></p>
  <p>The MammalBase Community [year]. MammalBase — Database of traits, measurements and diets of the species in class Mammalia. Licensed under CC BY 4.0. Retrieved [download date] from https://www.mammalbase.net. http://doi.org/xxxxx</p>
  <header class="w3-container w3-text-teal"><h4>References</h4></header>
  <p>Eisenberg, J.F., 1981. <i>The mammalian radiations: an analysis of trends in evolution, adaptation, and behaviour</i> (No. 591.5: 599 EIS).</p>
  <p>Lintulaakso, K., Polly, P.D. and Eronen, J.T., 2019. Land mammals form eight functionally and climatically distinct faunas in North America but only one in Europe.
    <i>Journal of Biogeography, 46(1)</i>, pp.185-195.
    <a class="btn btn-default" href="https://doi.org/10.1111/jbi.13480" target="_blank">[DOI] <span class="fa fa-external-link"></span></a></p>
  <p>NC State, 2021. Data Categories, Trustees, Stewards, and Custodians accessed at https://oit.ncsu.edu/it-security/data-framework/data-categories-trustees-stewards-and-custodians/
    <a class="btn btn-default" href="https://oit.ncsu.edu/it-security/data-framework/data-categories-trustees-stewards-and-custodians/" target="_blank">[Link] <span class="fa fa-external-link"></span></a></p>
  <p>Schneider, F.D., Jochum, M., Le Provost, G., Ostrowski, A., Penone, C. and Simons, N.K. (2019) Ecological Trait-data Standard Vocabulary, v0.10, URL: https://terminologies.gfbio.org/terms/ets/pages/,
    <a class="btn btn-default" href="https://doi.org/10.5281/zenodo.2605377" target="_blank">[DOI] <span class="fa fa-external-link"></span></a></p>
  <p>Wilson, D.E. and Reeder, D.M. eds., 2005. Mammal species of the world: a taxonomic and geographic reference (Vol. 1). JHU Press.</p>

</section>
{% endblock %}
{% block nav %}
<h4 class="w3-bar-item"><strong>About</strong></h4>
<a class="w3-bar-item w3-button w3-hover-black" href="{% url 'about_history' %}">History</a>
{% endblock %}
{% block info %}
{% endblock %}
{% block pagination %}
{% endblock %}
{% block script %}
{% endblock %}
