{% extends "mb/base_generic.html" %}
{% block title %}
<title>MammalBase - News</title>
{% endblock %}
{% block content %} {% load custom_tags %}
{% load static %}
<!--Article header -->
<header style="display:none">
  <h1>MammalBase - News</h1>
</header>
<!--End of article header -->
<section class="w3-threequarter w3-container">
  <header class="w3-container w3-text-teal"><h2>MammalBase - News</h2></header>
  <p><b><i>March 16, 2021: the beta version of MammalBase is now online.</i></b></p>
  <p>Currently, we are testing this new platform and we will add more data and functionalities as we proceed.</p>
  <p>If you are interested in collaborating and sharing your mammal measurement/trait/diet data or if you are interested in being a curator of a specific taxonomic group or a mammalian trait please contact the first author of <a class="btn btn-default" href="https://doi.org/10.1007/s42991-022-00323-6" target="_blank">Lintulaakso <i>et al.</i>, 2022. <span class="fa fa-external-link"></span></a> stating your name, current affiliation, area of expertise and your ORCID. Or, if you feel that you have some extra time to spare with coding the user interface, please contact us.</p>
</section>
{% endblock %}
{% block nav %}
<p>
  {% load static %} <img src="{% static 'images/logo.png' %}" alt="MammalBase logo" style="position:relative; right:-6%; bottom:0%; width:40%; border:none;">
</p>
<h4 class="w3-bar-item"><strong>News</strong></h4>
<a class="w3-bar-item w3-button w3-hover-black" href="{% url 'index_news' %}">Latest</a>
{% endblock %}
{% block info %}
{% endblock %}
{% block pagination %}
{% endblock %}
{% block script %}
{% endblock %}
