{% extends "mb/base_generic.html" %}
{% block title %}
<title>MammalBase - Standard Trait value: {{ master_choiceset_option.name }}</title>
{% endblock %}
{% block content %} {% load custom_tags %}
<!--Article header -->
<header style="display:none">
  <h1>MammalBase - Standard Trait value: {{ master_choiceset_option.name }}</h1>
</header>
<!--End of article header -->
<section class="w3-threequarter w3-container">
  <header class="w3-container w3-text-teal">
    <h2 style="display:none">Standard Trait value: {{ master_choiceset_option.name }}</h2>
  </header>
  <br>
  <div class="mb-detail w3-bar w3-right-align">
    <a title="Press to Go Back" class="w3-button w3-tiny w3-round w3-padding-small w3-teal" href="{{request.META.HTTP_REFERER}}"><span class="fa fa-arrow-left"></span></a>
    {% if request.user|is_data_admin_or_owner:master_choiceset_option %}
    <a title="Press to Edit" class="w3-button w3-tiny w3-round w3-padding-small w3-teal" href="{% url 'master_choiceset_option-edit' pk=master_choiceset_option.pk %}"><span class="fa fa-pencil-square-o"></span></a>
    <a title="Press to Delete" class="w3-button w3-tiny w3-round w3-padding-small w3-teal" href="{% url 'master_choiceset_option-delete' pk=master_choiceset_option.pk %}"><span class="fa  fa-trash-o"></span></a>
    {% else %}
    <button title="Please login to Edit" class="w3-disabled w3-button w3-tiny w3-round w3-padding-small w3-teal"><span class="fa fa-pencil-square-o"></span></button>
    <button title="Please login to Delete" class="w3-disabled w3-button w3-tiny w3-round w3-padding-small w3-teal"><span class="fa  fa-trash-o"></span></button>
    {% endif %}
  </div>
  <table class="mb-detail w3-table-all">
    <caption class="mb-detail w3-left-align">Standard Trait value: {{ master_choiceset_option.name }}</caption>
    <tr>
      <th class="w3-quarter">Standard Trait:</th>
      <td class="mb-public-internal w3-threequarter"><a title="Press for Details" href="{% url 'master_attribute-detail' pk=master_choiceset_option.master_attribute.id %}">{{ master_choiceset_option.master_attribute }} <span class="fa fa-link w3-small"></span></a></td>
    </tr>
    <tr>
      <th class="w3-quarter">Standard Trait value:</th>
      <td class="w3-threequarter">{{ master_choiceset_option.name }}</td>
    </tr>
    <tr>
      <th class="w3-quarter">Display order:</th>
      <td class="w3-threequarter">{{ master_choiceset_option.display_order }}</td>
    </tr>
    <tr>
      <th class="w3-quarter">Description:</th>
      <td class="w3-threequarter">{{ master_choiceset_option.description|safe }}</td>
    </tr>
  </table>
  {% if user.is_authenticated %}
  <br>
  <br>
  {% endif %}

  <table class="mb-list w3-table-all w3-small">
    <caption class="w3-left-align">Table 1. List of Source Trait values related with <b><i>{{ master_choiceset_option.name }}</i></b>.</caption>
    <thead>
      <tr>
        <th>Published Trait</th>
        <th>Trait value</th>
        <th>Reference</th>
      </tr>
    </thead>
    <tbody>
      {% if master_choiceset_option.choicesetoptionrelation_set.count > 0 %}
      {% for c in master_choiceset_option.choicesetoptionrelation_set.all %}
      <tr>
        <td>{{ c.source_choiceset_option.source_attribute }}</td>
		{% if request.user|is_data_admin_or_owner:c.source_choiceset_option %}
          <td class="mb-private-internal"><a title="Press for Details" href="{% url 'choiceset_option_relation-detail' pk=c.id %}">{{ c.source_choiceset_option.name }} <span class="fa fa-link w3-small"></span></a></td>
        {% else %}
          <td class="mb-private-internal"><a title="Please login for Details" style="color:IndianRed;" href="">{{ c.source_choiceset_option.name }} <span class="fa fa-link w3-small"></span></a></td>
        {% endif %}
        <td>{{ c.source_choiceset_option.source_attribute.reference }}</td>
        {% if user.is_authenticated %}
        {% else %}
        <td></td>
        {% endif %}
      </tr>
      {% endfor %}
      {% else %}
      <tr><td colspan="4">There are no Source Trait values available.</td></tr>
      {% endif %}
    </tbody>
  </table>
</section>
{% endblock %}
{% block info %}
{% endblock %}
{% block pagination %}
{% endblock %}
{% block script %}
{% endblock %}
