{% extends "mb/base_generic.html" %}
{% block title %}
<title>MammalBase - Accepted taxon: {{ master_entity.name }}</title>
{% endblock %}
{% block content %} {% load custom_tags %}
<!--Article header -->
<header style="display:none">
  <h1>MammalBase - Accepted taxon: {{ master_entity.name }}</h1>
</header>
<!--End of article header -->
<section class="w3-threequarter w3-container">
  <header class="w3-container w3-text-teal">
    <h2 style="display:none">Accepted taxon: {{ master_entity.name }}</h2>
  </header>
  <br>
  <div class="mb-detail w3-bar w3-right-align">
    <a title="Press to Go Back" class="w3-button w3-tiny w3-round w3-padding-small w3-teal" onclick="backFunction()"><span class="fa fa-arrow-left"></span></a>
    {% if request.user|is_data_admin_or_owner:master_entity %}
    <a title="Press to Edit" class="w3-button w3-tiny w3-round w3-padding-small w3-teal" href="{% url 'master_entity-edit' pk=master_entity.pk %}"><span class="fa fa-pencil-square-o"></span></a>
    <a title="Press to Delete" class="w3-button w3-tiny w3-round w3-padding-small w3-teal" href="{% url 'master_entity-delete' pk=master_entity.pk %}"><span class="fa fa-trash-o"></span></a>
    {% else %}
    <button title="Please login to Edit" class="w3-disabled w3-button w3-tiny w3-round w3-padding-small w3-teal"><span class="fa fa-pencil-square-o"></span></button>
    <button title="Please login to Delete" class="w3-disabled w3-button w3-tiny w3-round w3-padding-small w3-teal"><span class="fa  fa-trash-o"></span></button>
    {% endif %}
  </div>

  <table class="mb-detail w3-table-all">
    <caption class="mb-detail w3-left-align">Accepted taxon: {{ master_entity.name }}</caption>
    <tr>
      <th class="w3-quarter">Taxon:</th>
      <td class="w3-threequarter">{{ master_entity.name }}</td>
    </tr>
    <tr>
      <th class="w3-quarter">Rank:</th>
      <td class="w3-threequarter">{{ master_entity.entity }}</td>
    </tr>
    <tr>
      <th class="w3-quarter">Reference:</th>
      <td class="w3-threequarter">{{ master_entity.reference|safe }}</td>
    </tr>
  </table>
  {% if ternary %}
    {% autoescape off %}
      {{ plot_div }}
      <p class="w3-small">
      {% for x in ternary %}
      Fig.1 - Ternary plot of the proximate analysis for the {{ x.name }} diet.<br>
      CF (Crude Fibre) {{ x.cf|floatformat:2 }}, ASH (Ash contents) {{ x.ash|floatformat:2 }}, NFE (Nitrogen-Free-Extract) {{ x.nfe|floatformat:2 }}, CP (Crude Protein) {{ x.cp|floatformat:2 }}, EE (Ether Extract) {{ x.ee|floatformat:2 }}.
      See details for the calculations in Lintulaakso, K., Tatti, N. and Žliobaitė, I., 2022. Quantifying mammalian diets.
      <i>Mammalian Biology</i>, pp.1-15.
      <a href="https://doi.org/10.1007/s42991-022-00323-6" target="_blank">[DOI] <span class="fa fa-external-link"></span></a>
      {% endfor %}
      </p>
    {% endautoescape %}
  {% endif %}

  {% if user.is_authenticated %}
  <br>
  {% else %}
  <br>
  {% endif %}
  <table class="mb-list w3-table-all w3-small">
    <caption class="w3-left-align">Table 1. List of Diet Items for {{ master_entity.name }}.</caption>
    <thead>
      <tr>
        <th>TSN Complete name</th>
        {% if user.is_authenticated %}
          <th>Diet item</th>
        {% endif %}
        <th>Part</th>
        <th class="w3-right-align">Percentage <sup>a.</sup></th>
        <th>Reference(s)</th>
      </tr>
    </thead>
    <tbody>
      {% if diets %}
      {% for diet in diets %}
      <tr>
        <td class="mb-public-internal"><a title="Press for Details" href="{% url 'tsn-detail' tsn=diet.tsn %}">{{ diet.completename }} <span class="fa fa-link w3-small"></span></a></td>
        {% if user.is_authenticated %}
        <td>{{ diet.diet_items }}</td>
        {% endif %}
        <td>{{ diet.part }}</td>
        <td style="text-align:right">{{ diet.sum_food_item_percentage|floatformat:"2" }}</td>
        <td title="{{ diet.references|safe }}">{{ diet.references|truncatechars:10|safe }}</td>
      </tr>
      {% endfor %}
      {% else %}
        {% if user.is_authenticated %}
          {% if request.user|is_data_admin_or_contributor %}
            <tr><td colspan="5">There are no Diet Items available.</td></tr>
          {% else %}
            <tr><td colspan="4">There are no Diet Items available.</td></tr>
          {% endif %}
        {% else %}
          <tr><td colspan="5">There are no Diet Items available.</td></tr>
        {% endif %}
      {% endif %}
    </tbody>
  </table>
  <p class="w3-small"><sup>a.</sup> Standardized values.
    See details for the calculations in Lintulaakso, K., Tatti, N. and Žliobaitė, I., 2022. Quantifying mammalian diets.
    <i>Mammalian Biology</i>, pp.1-15.
    <a href="https://doi.org/10.1007/s42991-022-00323-6" target="_blank">[DOI] <span class="fa fa-external-link"></span></a>
  </p>

  {% if user.is_authenticated %}
  <br>
  {% else %}
  <br>
  {% endif %}
  <table class="mb-list w3-table-all w3-small">
    <caption class="w3-left-align">Table 2. List of Standard Traits for {{ master_entity.name }}.</caption>
    <thead>
      <tr>
        <th>Trait</th>
        <th>Selected Value</th>
        <th>All Value(s)</th>
        <th>Reference(s)</th>
      </tr>
    </thead>
    <tbody>
      {% for trait in master_entity.viewmastertraitvalue_set.all %}
      <tr>
        <td class="mb-public-internal"><a title="Press for Details" href="{% url 'master_attribute-detail' pk=trait.master_attribute_id.id %}">{{ trait.master_attribute_name }} <span class="fa fa-link w3-small"></span></a></td>
        <td style="text-align:left" title="{{ trait.n_supporting_value }} out of {{ trait.n_value }} referenses have classified {{ master_entity.name }} as a {{ trait.trait_selected }}.">{{ trait.trait_selected }}</td>
        <td style="text-align:left" title="{{ trait.trait_values }}">{{ trait.trait_values }}</td>
        <td style="text-align:left" title="{{ trait.traits_references|safe }}">{{ trait.traits_references|truncatechars:10|safe }}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
  {% if user.is_authenticated %}
  <br>
  {% else %}
  <br>
  {% endif %}
  <table class="mb-list w3-table-all w3-small">
    <caption class="w3-left-align">Table 3. List of Standard Measurements for {{ master_entity.name }}.</caption>
    <thead>
      <tr>
        <th>Measurement</th>
        <th>Unit</th>
        <th>n Total</th>
        <th>n Unknown</th>
        <th>n Female</th>
        <th>n Male</th>
        <th>Min</th>
        <th>Mean</th>
        <th>Max</th>
        <th>SD</th>
        <th>Reference(s)</th>
      </tr>
    </thead>
    <tbody>
      {% for measurement in measurements %}
      <tr>
        <td class="mb-public-internal"><a title="Press for Details" href="{% url 'master_attribute-detail' pk=measurement.master_attribute_id %}">{{ measurement.master_attribute }} <span class="fa fa-link w3-small"></span></a></td>
        <td style="text-align:center">{{ measurement.master_unit }}</td>
        {% if measurement.n_total == 0 %}
          <td style="text-align:center">-</td>
        {% else %}
          <td style="text-align:center">{{ measurement.n_total }}</td>
        {% endif %}
        {% if measurement.n_unknown == 0 %}
          <td style="text-align:center">-</td>
        {% else %}
          <td style="text-align:center">{{ measurement.n_unknown }}</td>
        {% endif %}
        {% if measurement.n_female == 0 %}
          <td style="text-align:center">-</td>
        {% else %}
          <td style="text-align:center">{{ measurement.n_female }}</td>
        {% endif %}
        {% if measurement.n_male == 0 %}
          <td style="text-align:center">-</td>
        {% else %}
          <td style="text-align:center">{{ measurement.n_male }}</td>
        {% endif %}
        {% if measurement.minimum == measurement.maximum %}
          <td style="text-align:center">-</td>
        {% else %}
          <td style="text-align:right">{{ measurement.coeff_minimum.normalize }}</td>
        {% endif %}
        <td style="text-align:right">{{ measurement.coeff_mean.normalize }}</td>
        {% if measurement.minimum == measurement.maximum %}
          <td style="text-align:center">-</td>
        {% else %}
          <td style="text-align:right">{{ measurement.coeff_maximum.normalize }}</td>
        {% endif %}
        {% if measurement.std == 0 %}
          <td style="text-align:center">-</td>
        {% else %}
          <td style="text-align:center">{{ measurement.std|floatformat:0 }}</td>
        {% endif %}
        <td style="text-align:left" title="{{ measurement.reference|safe }}">{{ measurement.reference|truncatechars:10|safe }}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
  {% if user.is_authenticated %}
  <br>
  {% else %}
  <br>
  {% endif %}
  <table class="mb-list w3-table-all w3-small">
    <caption class="w3-left-align">Table 4. List of Data Sources for {{ master_entity.name }}.</caption>
    <thead>
      <tr>
        <th>Taxon</th>
        <th>Reference</th>
        <th>Match</th>
        <th>Status</th>
      </tr>
    </thead>
    <tbody>
      {% for relation in master_entity.entityrelation_set.all %}
      {% if relation.relation.name  == "Taxon Match" and relation.is_active %}
      <tr>
        {% if user.is_authenticated %}
          <td class="mb-public-internal"><a title="Press for Details" href="{% url 'source_entity-detail' pk=relation.source_entity.id %}">{{ relation.source_entity.name }} <span class="fa fa-link w3-small"></span></a></td>
        {% else %}
          <td class="mb-private-internal"><a title="Please login for Details" style="color:IndianRed;" href="">{{ relation.source_entity.name }} <span class="fa fa-link w3-small"></span></a></td>
        {% endif %}
        {% if user.is_authenticated %}
          <td class="mb-public-internal"><a title="Press for Details" href="{% url 'source_reference-detail' pk=relation.source_entity.reference.id %}">{{ relation.source_entity.reference|safe }} <span class="fa fa-link w3-small"></span></a></td>
        {% else %}
          <td class="mb-private-internal"><a title="Please login for Details" style="color:IndianRed;" href="">{{ relation.source_entity.reference|safe }} <span class="fa fa-link w3-small"></span></a></td>
        {% endif %}

        <td>{{ relation.relation_status.name }}</td>
        <td>{{ relation.data_status.name }}</td>
      </tr>
      {% endif %}
      {% endfor %}
    </tbody>
  </table>
  <p class="w3-small">Citation for this page: [The MammalBase community {% now "Y" %}.
    {% if master_entity.entity.name == "Species"%}
      <i>{{ master_entity.name }}</i>
    {% else %}
      {{ master_entity.name }}:
    {% endif %}
    , Accessed {% now "jS F Y" %} at https://mammalbase.org/me/{{ master_entity.id }}]</p>
</section>
{% endblock %}
{% block info %}
{% endblock %}
{% block pagination %}
{% endblock %}
{% block script %}
{% endblock %}
