{% extends "mb/base_generic.html" %}
{% block title %}
  <title>MammalBase - Add/Edit Standard Choice Value</title>
{% endblock %}
{% block content %} {% load custom_tags %}
  <!--Article header -->
  <header style="display:none">
    <h1>MammalBase - Add/Edit Standard Choice Value</h1>
  </header>
  <!--End of article header -->
  <section class="w3-threequarter w3-container">
    <header class="w3-container w3-text-teal">
      <h2>Add/Edit Standard Choice Value</h2>
    </header>
	{% if request.user|is_data_admin_or_contributor %}
      <form method="POST" novalidate>
        {% csrf_token %}
        {% include 'includes/w3c-form.html' with form=form %}
        <div class="mb-detail w3-bar w3-right-align">
          <a title="Press to Go Back" class="w3-button w3-tiny w3-round w3-padding-small w3-teal" href="{{request.META.HTTP_REFERER}}"><span class="fa fa-arrow-left"></span></a>
          <button title="Press to Submit" type="submit" class="w3-button w3-tiny w3-round w3-padding-small w3-teal">Submit&nbsp; <i class="fa fa-angle-right"></i><i class="fa fa-angle-right"></i></button>
        </div>
      </form>
    {% else %}
      <p><a href="{% url 'login'%}?next={{request.path}}">Please login first</a></p>
    {% endif %}
  </section>
{% endblock %}
