{% extends "mb/base_generic.html" %}
{% block title %}
<title>MammalBase - Master Location: {{ master_location.name }}</title>
{% endblock %}
{% block content %} {% load custom_tags %}
<!--Article header -->
<header style="display:none">
  <h1>MammalBase - Master Location: {{ master_location.name }}</h1>
</header>
<!--End of article header -->
<section class="w3-threequarter w3-container">
  <header class="w3-container w3-text-teal">
    <h2 style="display:none">Master Location: {{ master_location.name }}</h2>
  </header>
  <br>
  <div class="mb-detail w3-bar w3-right-align">
    <a title="Press to Go Back" class="w3-button w3-medium w3-round w3-padding-small w3-teal" onclick="backFunction()"><span class="fa fa-arrow-left"></span></a>
    {% if request.user|is_data_admin_or_owner:master_location %}
    <button title="Please login to Edit" class="w3-disabled w3-button w3-medium w3-round w3-padding-small w3-teal"><span class="fa fa-pencil-square-o"></span></button>
    <button title="Please login to Delete" class="w3-disabled w3-button w3-medium w3-round w3-padding-small w3-teal"><span class="fa  fa-trash-o"></span></button>
    {% else %}
    <button title="Please login to Edit" class="w3-disabled w3-button w3-medium w3-round w3-padding-small w3-teal"><span class="fa fa-pencil-square-o"></span></button>
    <button title="Please login to Delete" class="w3-disabled w3-button w3-medium w3-round w3-padding-small w3-teal"><span class="fa  fa-trash-o"></span></button>
    {% endif %}
  </div>
  <table class="mb-detail w3-table-all">
    <caption class="w3-left-align">Master Location: {{ master_location.name }}</caption>
    <tr>
      <th class="w3-quarter">Name:</th>
      <td class="w3-threequarter">{{ master_location.name }}</td>
    </tr>
    <tr>
      <th class="w3-quarter">Continent:</th>
      <td class="w3-threequarter">{{ master_location.continent }}</td>
    </tr>
    <tr>
      <th class="w3-quarter">Country:</th>
      <td class="w3-threequarter">({{ master_location.country_code }}) {{ master_location.country }}</td>
    </tr>
    <tr>
      <tr>
        <th class="w3-quarter">County:</th>
        <td class="w3-threequarter">{{ master_location.county }}</td>
      </tr>
      <tr>
        <th class="w3-quarter">Decimal Latitude:</th>
        <td class="w3-threequarter">{{ master_location.decimal_latitude }}</td>
      </tr>
      <tr>
        <th class="w3-quarter">Decimal Longitude:</th>
        <td class="w3-threequarter">{{ master_location.decimal_longitude }}</td>
      </tr>
      <tr>
        <th class="w3-quarter">Geodetic Datum:</th>
        <td class="w3-threequarter">{{ master_location.geodetic_datum }}</td>
      </tr>
      <tr>
        <th class="w3-quarter">Locality:</th>
        <td class="w3-threequarter">{{ master_location.locality }}</td>
      </tr>
      <tr>
        <th class="w3-quarter">Location According to</th>
        <td class="w3-threequarter">{{ master_location.location_according_to }}</td>
      </tr>
      <tr>
        <th class="w3-quarter">Location ID</th>
        <td class="w3-threequarter"><a title="Press for Details"
          href="https://geonames.org/{{ master_location.location_id }}">{{ master_location.location_id }}<span class="fa fa-link w3-small"></span></a></td>
      </tr>
      <tr>
        <th class="w3-quarter">Location Remarks</th>
        <td class="w3-threequarter">{{ master_location.location_rermarks }}</td>
      </tr>
      <tr>
        <th class="w3-quarter">Maximum Elevation in Meters</th>
        <td class="w3-threequarter">{{ master_location.maximum_elevation_in_meters }}</td>
      </tr>
      <tr>
        <th class="w3-quarter">Minimum Elevation in Meters</th>
        <td class="w3-threequarter">{{ master_location.minimum_elevation_in_meters }}</td>
      </tr>
      <tr>
        <th class="w3-quarter">Municipality</th>
        <td class="w3-threequarter">{{ master_location.municipality }}</td>
      </tr>
      <tr>
        <th class="w3-quarter">State Province</th>
        <td class="w3-threequarter">{{ master_location.state_province }}</td>
      </tr>
      </table>
      {% if master_location.locationrelation_set.count > 0 %}
        <table class="mb-detail w3-table-all">
        {% for relation in master_location.locationrelation_set.all %}
          <caption class="w3-left-align">Location Match</caption>
          {% if relation.relation.name == "Location Match" and relation.is_active %}
            <tr>
              <th class="w3-quarter w3-text-teal">Master Location:</th>
              <td class="w3-threequarter">{{ relation.master_location.name }}</td>
            </tr>
            <tr>
              <th class="w3-quarter w3-text-teal">Reference:</th>
              <td class="w3-threequarter">{{ relation.master_location.reference }}</td>
            </tr>
            <tr>
              <th class="w3-quarter w3-text-teal">Match:</th>
              <td class="w3-threequarter">{{ relation.relation_status.name }}</td>
          </tr>
          <tr>
            <th class="w3-quarter w3-text-teal">Status:</th>
            <td class="w3-threequarter">{{ relation.data_status.name }}</td>
          </tr>
          {% endif %}
        {% endfor %}
        </table>
    {% else %}
    {% endif %}
    </section>
{% endblock %}
{% block info %}
{% endblock %}
{% block pagination %}
{% endblock %}
{% block script %}
{% endblock %}
