{% extends 'mb/base_generic.html' %}
{% block content %} {% load custom_tags %}
<!-- Write your comments here -->
  {% if request.user|is_data_admin_or_owner:master_entity %}
    <h1>Delete Accepted Taxon</h1>

    <p>Are you sure you want to delete the Accepted Taxon: <b><i>{{ master_entity }}</i></b>?</p>

    <form action="" method="POST">
        {% csrf_token %}
        <input type="submit" action="" value="Yes, delete." />
    </form>
    <p><a onclick="history.back()">Go back</a></p>
  {% else %}
    <p><a href="{% url 'login'%}?next={{request.path}}">Please login first</a></p>
  {% endif %}
{% endblock %}
