{% extends "mb/base_generic.html" %}
{% block title %}
<title>MammalBase - Master Locations</title>
{% endblock %}
{% block content %} {% load custom_tags %}
<!--Article header -->
<header style="display:none">
  <h1>MammalBase - Standard References</h1>
</header>
<!--End of article header -->
<section class="w3-threequarter w3-container">
  <header class="w3-container w3-text-teal">
    <h2>Master Locations</h2>
  </header>

  <!-- {% include 'includes/find.html' %} -->
  {% if master_location %}
  {% if request.user|is_data_admin_or_contributor %}
      <br>
      <br>
    {% endif %}
    <table class="mb-list w3-table-all w3-small w3-responsive">
    <thead>
        <tr>
            <th>Name</th>
            <th>Country</th>
            <th>Continent</th>
            <th>Country Code</th>
            <th>County</th>
            <th>Decimal Latitude</th>
            <th>Decimal Longitude</th>
            <th>Geodetic Datum</th>
            <th>Locality</th>
            <th>Location According To</th>
            <th>Location ID</th>
            <th>Location Remarks</th>
            <th>Maximum Elevation In Meters</th>
            <th>Minimum Elevation In Meters</th>
            <th>Municipality</th>
            <th>State/Province</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>{{ master_location.name }}</td>
            <td>{{ master_location.country }}</td>
            <td>{{ master_location.continent }}</td>
            <td>{{ master_location.countryCode }}</td>
            <td>{{ master_location.county }}</td>
            <td>{{ master_location.decimalLatitude }}</td>
            <td>{{ master_location.decimalLongitude }}</td>
            <td>{{ master_location.geodeticDatum }}</td>
            <td>{{ master_location.locality }}</td>
            <td>{{ master_location.locationAccordingTo }}</td>
            <td>{{ master_location.locationID }}</td>
            <td>{{ master_location.locationRemarks }}</td>
            <td>{{ master_location.maximumElevationInMeters }}</td>
            <td>{{ master_location.minimumElevationInMeters }}</td>
            <td>{{ master_location.municipality }}</td>
            <td>{{ master_location.stateProvince }}</td>
        </tr>
    </table>
  {% else %}
    <p>There are no Master Location available.</p>
  {% endif %}
  </section>
{% endblock %}
{% block info %}
{% endblock %}
{% block pagination %}
  {% include 'mb/pagination.html' %}
{% endblock %}
{% block script %}
{% endblock %}
