  {% extends "mb/index_proximate_analysis.html" %}
  {% block title %}
  <title>MammalBase - Proximate Analysis of {{ proximate_analysis_item.forage }}</title>
  {% endblock %}
  {% block content %} {% load custom_tags %}
  <!--Article header -->
  <header style="display:none">
    <h1>MammalBase - Proximate Analysis of {{ proximate_analysis_item.forage }}</h1>
  </header>
  <!--End of article header -->
  <section class="w3-threequarter w3-container">
    <header class="w3-container w3-text-teal">
      <h2 style="display:none">Forage: {{ proximate_analysis_item.forage }}</h2>
    </header>
    <br>
    <div class="mb-detail w3-bar w3-right-align">
      <a title="Press to Go Back" class="w3-button w3-tiny w3-round w3-padding-small w3-teal" onclick="backFunction()"><span class="fa fa-arrow-left"></span></a>
      {% if request.user|is_data_admin_or_owner:proximate_analysis_item %}
        <a title="Press to Edit" class="w3-button w3-tiny w3-round w3-padding-small w3-teal" href="{% url 'proximate_analysis_item-edit' pk=proximate_analysis_item.pk %}"><span class="fa fa-pencil-square-o"></span></a>
        <a title="Press to Delete" class="w3-button w3-tiny w3-round w3-padding-small w3-teal" href="{% url 'proximate_analysis_item-delete' pk=proximate_analysis_item.pk %}"><span class="fa  fa-trash-o"></span></a>
      {% else %}
        <button title="Please login to Edit" class="w3-disabled w3-button w3-tiny w3-round w3-padding-small w3-teal"><span class="fa fa-pencil-square-o"></span></button>
        <button title="Please login to Delete" class="w3-disabled w3-button w3-tiny w3-round w3-padding-small w3-teal"><span class="fa  fa-trash-o"></span></button>
      {% endif %}
    </div>
    <table class="mb-detail w3-table-all w3-responsive">
      <caption class="mb-detail w3-left-align">Proximate Analysis values of {{ proximate_analysis_item.forage }}. <sup>a.</sup></caption>
      <tr>
        <th >Forage:</th>
        <td class="mb-public-internal w3-threequarter"><a title="Press for Details" href="{% url 'food_item-detail' pk=proximate_analysis_item.forage.id %}">{{ proximate_analysis_item.forage }} <span class="fa fa-link w3-small"></span></a></td>
      </tr>
      <tr>
        <th >Part:</th>
        <td >{{ proximate_analysis_item.forage.part.caption }}</td>
      </tr>
      <tr>
        <th >TSN:</th>
        <td class="mb-public-internal w3-threequarter">
          {% if proximate_analysis_item.forage.tsn %}
            <a title="Press for Details" href="{% url 'tsn-detail' tsn=proximate_analysis_item.forage.tsn.tsn %}">{{ proximate_analysis_item.forage.tsn }} <span class="fa fa-link w3-small"></span></a>
          {% else %}
            Not found.
          {% endif %}
        </td>
      </tr>
      <tr>
        <th >TSN hierarchy:</th>
        <td >
          {% if proximate_analysis_item.forage.tsn %}
            {{ proximate_analysis_item.forage.tsn.hierarchy }}
          {% else %}
            Not found.
          {% endif %}
          </td>
      </tr>
      <tr>
        <th >Study area:</th>
        <td >{{ proximate_analysis_item.location|default_if_none:"-" }}</td>
      </tr>
      <tr>
        <th >Sample size:</th>
        <td >{{ proximate_analysis_item.sample_size|default_if_none:"-" }}</td>
      </tr>
      <tr>
        <th >Measurement determined by:</th>
        <td >{{ proximate_analysis_item.measurement_determined_by|default_if_none:"-" }}</td>
      </tr>
      <tr>
        <th >Measurement remarks:</th>
        <td >{{ proximate_analysis_item.measurement_remarks|default_if_none:"-" }}</td>
      </tr>
      <!--Crude protein-->
      <tr>
        <th rowspan="4" style="vertical-align: middle">Crude Protein (CP)</th>
      </tr>
      <tr>
        <th class="w3-quarter">Standard value:</th>
        <td class="w3-threequarter">{{ proximate_analysis_item.cp_std|floatformat:2 }}</td>
      </tr>
      <tr>
        <th class="w3-quarter">Dispersion:</th>
        <td class="w3-threequarter">{% if proximate_analysis_item.cp_dispersion is None %}-{% else %} {{proximate_analysis_item.cp_dispersion|floatformat:2 }}{% endif %}</td>
      </tr>
      <tr>
        <th class="w3-quarter">Measurement method:</th>
        <td class="w3-threequarter">{{ proximate_analysis_item.cp_measurement_method|default_if_none:"-" }}</td>
      </tr>
      <!--Crude fiber-->
      <tr>
        <th rowspan="4" style="vertical-align: middle">Crude Fibre (CF)</th>
      </tr>
      <tr>
        <th class="w3-quarter">Standard value:</th>
        <td class="w3-threequarter">{{ proximate_analysis_item.cf_std|floatformat:2 }}</td>
      </tr>  
      <tr>
        <th class="w3-quarter">Dispersion:</th>
        <td class="w3-threequarter">{% if proximate_analysis_item.cf_dispersion is None %}-{% else %} {{proximate_analysis_item.cf_dispersion|floatformat:2 }}{% endif %}</td> 
      </tr>
      <tr>
        <th class="w3-quarter">Measurement method:</th>
        <td class="w3-threequarter">{{ proximate_analysis_item.cf_measurement_method|default_if_none:"-" }}</td>
      </tr>
      <!--Ash-->
      <tr>
        <th rowspan="4" style="vertical-align: middle">Ash</th>
      </tr>
      <tr>
        <th class="w3-quarter">Standard value:</th>
        <td class="w3-threequarter">{{ proximate_analysis_item.ash_std|floatformat:2 }}</td>
      </tr>
        <th class="w3-quarter">Dispersion:</th>
        <td class="w3-threequarter">{% if proximate_analysis_item.ash_dispersion is None %}-{% else %} {{proximate_analysis_item.ash_dispersion|floatformat:2 }}{% endif %}</td>
      <tr>
        <th class="w3-quarter">Measurement method:</th>
        <td class="w3-threequarter">{{ proximate_analysis_item.ash_measurement_method|default_if_none:"-" }}</td>
      </tr>
      <!--Ether extract-->
      <tr>
        <th rowspan="4" style="vertical-align: middle">Ether Extract (EE)</th>
      </tr>
      <tr>
        <th class="w3-quarter">Standard value:</th>
        <td class="w3-threequarter">{{ proximate_analysis_item.ee_std|floatformat:2 }}</td>
      </tr>
      <tr>
        <th class="w3-quarter">Dispersion:</th>
        <td class="w3-threequarter">{% if proximate_analysis_item.ee_dispersion is None %}-{% else %} {{proximate_analysis_item.ee_dispersion|floatformat:2 }}{% endif %}</td>
      </tr>
      <tr>
        <th class="w3-quarter">Measurement method:</th>
        <td class="w3-threequarter">{{ proximate_analysis_item.ee_measurement_method|default_if_none:"-" }}</td>
      </tr>
      <!--Nitrogen free extract-->
      <tr>
        <th rowspan="4" style="vertical-align: middle">Nitrogen-Free-Extract (NFE)</th>
      </tr>
      <tr>
        <th class="w3-quarter">Standard value:</th>
        <td class="w3-threequarter">{{ proximate_analysis_item.nfe_std|floatformat:2 }}</td>
      </tr>
      <tr>
        <th class="w3-quarter">Dispersion:</th>
        <td class="w3-threequarter">{% if proximate_analysis_item.nfe_dispersion is None %}-{% else %} {{proximate_analysis_item.nfe_dispersion|floatformat:2 }}{% endif %}</td>
      </tr>
      <tr>
        <th class="w3-quarter">Measurement method:</th>
        <td class="w3-threequarter">{{ proximate_analysis_item.nfe_measurement_method|default_if_none:"-" }}</td>
      </tr>
      <tr>
        <th >Main reference:</th>
        {% if user.is_authenticated %}
          <td class="mb-public-internal w3-threequarter"><a title="Press for Details" href="{% url 'source_reference-detail' pk=proximate_analysis_item.proximate_analysis.reference_id %}">{{ proximate_analysis_item.proximate_analysis.reference }} <span class="fa fa-link w3-small"></span></a></td>
        {% else %}
          <td class="mb-private-internal w3-threequarter"><a title="Please login for Details" style="color:IndianRed;" href="">{{ proximate_analysis_item.proximate_analysis.reference }} <span class="fa fa-link w3-small"></span></a></td>
        {% endif %}
      </tr>
      <tr>
        <th >Cited reference:</th>
        <td >{{ proximate_analysis_item.cited_reference|default_if_none:"-" }}</td>
      </tr>
    </table>
    <p><sup>a.</sup> Standardized values.</p>
  </section>
  {% endblock %}
  {% block info %}
  {% endblock %}
  {% block pagination %}
  {% endblock %}
  {% block script %}
  {% endblock %}
