{% extends "mb/base_generic.html" %}
{% block title %}
<title>MammalBase - Reference: {{ source_reference }}</title>
{% endblock %}
{% block content %} {% load custom_tags %}
<!--Article header -->
<header style="display:none">
  <h1>MammalBase - Reference: {{ source_reference.citation|safe }}</h1>
</header>
<!--End of article header -->
<section class="w3-threequarter w3-container">
  <header class="w3-container w3-text-teal">
    <h2 style="display:none">Reference: {{ source_reference }}</h2>
  </header>
  <br>
  <div class="mb-detail w3-bar w3-right-align">
    <a title="Press to Go Back" class="w3-button w3-tiny w3-round w3-padding-small w3-teal" onclick="backFunction()"><span class="fa fa-arrow-left"></span></a>
    {% if request.user|is_data_admin_or_owner:source_reference %}
      <a title="Press to Edit" class="w3-button w3-tiny w3-round w3-padding-small w3-teal" href="{% url 'source_reference-edit' pk=source_reference.pk %}"><span class="fa fa-pencil-square-o"></span></a>
      <a title="Press to Delete" class="w3-button w3-tiny w3-round w3-padding-small w3-teal" href="{% url 'source_reference-delete' pk=source_reference.pk %}"><span class="fa fa-trash-o"></span></a>
    {% else %}
      <button title="Please login to Edit" class="w3-disabled w3-button w3-tiny w3-round w3-padding-small w3-teal"><span class="fa fa-pencil-square-o"></span></button>
      <button title="Please login to Delete" class="w3-disabled w3-button w3-tiny w3-round w3-padding-small w3-teal"><span class="fa  fa-trash-o"></span></button>
    {% endif %}
  </div>
  <table class="mb-detail w3-table-all">
    {% if source_entity.name|length > 100 %}
    <caption class="w3-left-align w3-small">
      {% else %}
    <caption class="w3-left-align">
      {% endif %}
      Reference: {{ source_reference.citation|safe }}.
    </caption>
    <tr>
      <th class="w3-quarter">Citation:</th>
      <td class="w3-threequarter">{{ source_reference.citation|safe }}</td>
    </tr>
    <tr>
      <th class="w3-quarter">Status:</th>
      <td class="w3-threequarter">{{ source_reference.get_status_display }}</td>
    </tr>
    <tr>
      <th class="w3-quarter">DOI:</th>
      {% if source_reference.doi %}
        <td class="mb-private-internal w3-threequarter"><a title="Press for Details" href="http://dx.doi.org/{{ source_reference.doi }}" target="_blank">{{ source_reference.doi }} <span class="fa fa-external-link"></span></a></td>
      {% else %}
        <td class="w3-threequarter"></td>
      {% endif %}
    </tr>
    <tr>
      <th class="w3-quarter">Standard Reference:</th>
      <td class="mb-private-internal w3-threequarter"><a title="Press for Details" href="{% url 'master_reference-detail' pk=source_reference.master_reference_id|default:0 %}">{{ source_reference.master_reference.citation|safe }} <span class="fa fa-link"></span></a></td>
    </tr>
  </table>

  {% if request.user|is_data_admin_or_owner:source_reference %}
  <br>
    <a title="Press for New" class="w3-button w3-tiny w3-round w3-padding-small w3-teal" href="{% url 'source_reference-attribute-new' source_reference.id 2 %}"><span class="fa fa-plus"></span></a>
  {% else %}
    <br>
  {% endif %}

  <table class="mb-list w3-table-all w3-small">
    {% if source_entity.name|length > 50 %}
    <caption class="w3-left-align w3-small">
      {% else %}
    <caption class="w3-left-align">
      Table 1. List of Source Traits listed in {{ source_reference.citation|safe }}.
      {% endif %}
    </caption>
    <thead>
      <tr>
        <th>Source Trait</th>
        <th>Source Trait values</th>
        <th>Standard Trait</th>
      </tr>
    </thead>
    <tbody>
      {% if sr_traits|length > 0 %}
        {% for sa in sr_traits.all %}
          <tr>
          {% if request.user|is_data_admin_or_owner:source_reference %}
            <td class="mb-public-internal"><a title="Press for Details" href="{% url 'source_attribute-detail' pk=sa.id %}">{{ sa }} <span class="fa fa-link w3-small"></span></a></td>
          {% else %}
            <td class="mb-private-internal"><a title="Please login for Details" style="color:IndianRed;" href="">{{ sa }} <span class="fa fa-link w3-small"></span></a></td>
          {% endif %}
          <td>
            <ul>
              {% for choice in sa.sourcechoicesetoption_set.all %}
                <li>{{ choice.name }}</li>
              {% endfor %}
            </ul>
          </td>
          <td>
            {% for ma in sa.attributerelation_set.all %}
              {% if ma.is_active %}
                {{ ma.master_attribute }};
              {% endif %}
            {% endfor %}
          </td>
        </tr>
        {% endfor %}
      {% else %}
        <tr>
        <td colspan="3">There are no Traits available.</td>
        </tr>
      {% endif %}
    </tbody>
  </table>
  {% if request.user|is_data_admin_or_owner:source_reference %}
    <br>
    <a title="Press for New" class="w3-button w3-tiny w3-round w3-padding-small w3-teal" href="{% url 'source_reference-attribute-new' source_reference.id 1 %}"><span class="fa fa-plus"></span></a>
  {% else %}
    <br>
  {% endif %}
  <table class="mb-list w3-table-all w3-small">
    {% if source_entity.name|length > 50 %}
    <caption class="w3-left-align w3-small">
      {% else %}
    <caption class="w3-left-align">
      {% endif %}
      Table 2. List of Source Measurements for {{ source_reference.citation|safe }}.
    </caption>
    <thead>
      <tr>
        <th>Source Measurement</th>
        <th>Source Method</th>
        <th>Standard Measurement</th>
      </tr>
    </thead>
    <tbody>
      {% if sr_measurements|length > 0 %}
      {% for sa in sr_measurements.all %}
      <tr>
        {% if user.is_authenticated %}
          <td class="mb-public-internal"><a title="Press for Details" href="{% url 'source_attribute-detail' pk=sa.id %}">{{ sa }} <span class="fa fa-link w3-small"></span></a></td>
        {% else %}
          <td class="mb-private-internal"><a title="Please login for Details" style="color:IndianRed;" href="">{{ sa }} <span class="fa fa-link w3-small"></span></a></td>
        {% endif %}
        <td class="mb-public-internal">{{ sa.method|default_if_none:"-" }}</td>
        <td>
          {% for ma in sa.attributerelation_set.all %}
            {% if ma.is_active %}
              {{ ma.master_attribute }};
            {% endif %}
          {% endfor %}
        </td>
      </tr>
      {% endfor %}
      {% else %}
      <tr>
        <td colspan="2">There are no Source Measurement available.</td>
      </tr>
      {% endif %}
    </tbody>
  </table>
  {% if user.is_authenticated %}
  <br>
  {% else %}
  <br>
  {% endif %}

  <table class="mb-list w3-table-all w3-small">
    {% if source_entity.name|length > 50 %}
    <caption class="w3-left-align w3-small">
      {% else %}
    <caption class="w3-left-align">
      {% endif %}
      Table 3. List of Diet Sets for {{ source_reference.citation|safe }}.
    </caption>
    <thead>
      <tr>
        <th>Taxon</th>
        <th>Location</th>
        <th>Method</th>
        <th>Period</th>
        <th>Months</th>
      </tr>
    </thead>
    <tbody>
      {% if sr_diet_sets|length > 0 %}
        {% for x in sr_diet_sets.all %}
          <tr>
            <td class="mb-public-internal"><a title="Press for Details" href="{% url 'diet_set-detail' pk=x.pk %}">{{ x.taxon.name }} <span class="fa fa-link w3-small"></span></a></td>
            {% if x.location %}
              <td>{{ x.location }}</td>
            {% else %}
              <td style="text-align:left">-</td>
            {% endif %}
            {% if x.method %}
              <td>{{ x.method }}</td>
            {% else %}
              <td style="text-align:left">-</td>
            {% endif %}
            {% if x.time_period %}
              <td>{{ x.time_period }}</td>
            {% else %}
              <td style="text-align:left">-</td>
            {% endif %}
            {% if x.time_period.time_in_months %}
              <td style="text-align:left">{{ x.time_period.time_in_months }}</td>
            {% else %}
              <td style="text-align:left">12</td>
            {% endif %}
          </tr>
        {% endfor %}
      {% else %}
      <tr>
        <td colspan="2">There are no Diet Sets available.</td>
      </tr>
      {% endif %}
    </tbody>
  </table>
  {% if user.is_authenticated %}
  <br>
  {% else %}
  <br>
  {% endif %}

  {% if user.is_authenticated %}
  <br>
  {% else %}
  <br>
  {% endif %}

  <table class="mb-list w3-table-all w3-small">
    {% if source_entity.name|length > 50 %}
    <caption class="w3-left-align w3-small">
      {% else %}
    <caption class="w3-left-align">
      {% endif %}
      Table 4. List of Literature Taxa in {{ source_reference.citation|safe }}.
    </caption>
    <thead>
      <tr>
        <th>Literature Taxon</th>
        <th>Rank</th>
        <th>Accepted Taxon</th>
        <th>Rank</th>
        <th>Match type</th>
        <th>Status</th>
      </tr>
    </thead>
    <tbody>
    {% if sr_entities|length > 0 %}
      {% for se in sr_entities %}
        <tr>
        {% if user.is_authenticated %}
          <td class="mb-public-internal"><a title="Press for Details" href="{% url 'source_entity-detail' pk=se.source_entity_id %}">{{ se.source_entity_name }} <span class="fa fa-link w3-small"></span></a></td>
        {% else %}
          <td class="mb-private-internal"><a title="Please login for Details" style="color:IndianRed;" href="">{{ se.source_entity_name }} <span class="fa fa-link w3-small"></span></a></td>
        {% endif %}
          <td>{{ se.source_entity_rank }}</td>
          <td class="mb-public-internal"><a title="Press for Details" href="{% url 'master_entity-detail' pk=se.master_entity_id|default:0 %}">{{ se.master_entity_name|default_if_none:"-" }} <span class="fa fa-link w3-small"></span></a></td>
          <td>
            {{ se.master_entity_rank|default_if_none:"-" }}
          </td>
          <td>
            {{ se.match_type|default_if_none:"-" }}
          </td>
          <td>
            {{ se.data_status|default_if_none:"-" }}
          </td>
        </tr>
      {% endfor %}
    {% else %}
      <tr>
        <td colspan="6">There are no Taxa available.</td>
      </tr>
    {% endif %}
    </tbody>
  </table>
</section>
{% endblock %}
{% block info %}
{% endblock %}
{% block pagination %}
{% endblock %}
{% block script %}
{% endblock %}
