{% extends "mb/base_generic.html" %}
{% block title %}
<title>MammalBase - Literature Taxon: {{ source_entity.name }}</title>
{% endblock %}
{% block content %} {% load custom_tags %}
<!--Article header -->
<header style="display:none">
  <h1>MammalBase - Literature Taxon: {{ source_entity.name }}</h1>
</header>
<!--End of article header -->
<section class="w3-threequarter w3-container">
  <header class="w3-container w3-text-teal">
    <h2 style="display:none">Literature Taxon: {{ source_entity.name }}</h2>
  </header>
  <br>
  <div class="mb-detail w3-bar w3-right-align">
    <a title="Press to Go Back" class="w3-button w3-tiny w3-round w3-padding-small w3-teal" href="{{request.META.HTTP_REFERER}}"><span class="fa fa-arrow-left"></span></a>
    {% if request.user|is_data_admin_or_owner:source_entity %}
      <a title="Press to Edit" class="w3-button w3-tiny w3-round w3-padding-small w3-teal" href="{% url 'source_entity-edit' pk=source_entity.pk %}"><span class="fa fa-pencil-square-o"></span></a>
      <a title="Press to Delete" class="w3-button w3-tiny w3-round w3-padding-small w3-teal" href="{% url 'source_entity-delete' pk=source_entity.pk %}"><span class="fa fa-trash-o"></span></a>
    {% else %}
      <button title="Please login to Edit" class="w3-disabled w3-button w3-tiny w3-round w3-padding-small w3-teal"><span class="fa fa-pencil-square-o"></span></button>
      <button title="Please login to Delete" class="w3-disabled w3-button w3-tiny w3-round w3-padding-small w3-teal"><span class="fa  fa-trash-o"></span></button>
    {% endif %}
  </div>
  <table class="mb-detail w3-table-all  w3-responsive">
    <caption class="w3-left-align">Literature Taxon: {{ source_entity.name }}</caption>
    <tr>
      <th class="w3-quarter">Taxon:</th>
      <td class="w3-threequarter">{{ source_entity.name }}</td>
    </tr>
    <tr>
      <th class="w3-quarter">Rank:</th>
      <td class="w3-threequarter">{{ source_entity.entity }}</td>
    </tr>
    <tr>
      <th class="w3-quarter">Reference:</th>
      {% if user.is_authenticated %}
      <td class="mb-private-internal w3-threequarter"><a title="Press for Details" href="{% url 'source_reference-detail' pk=source_entity.reference.id %}">{{ source_entity.reference }} <span class="fa fa-link"></span></a></td>
      {% else %}
      <td class="mb-private-internal w3-threequarter"><a title="Please login for Details" style="color:IndianRed;" href="">{{ source_entity.reference }} <span class="fa fa-link w3-small"></span></a></td>
      {% endif %}
    </tr>
  </table>
  {% if request.user|is_data_admin_or_owner:source_entity %}
  <br>
  <a title="Press for New" class="w3-button w3-tiny w3-round w3-padding-small w3-teal" href="{% url 'source_entity-relation-new' source_entity.id %}"><span class="fa fa-plus"></span></a>
  {% else %}
  <br>
  {% endif %}
  <table class="mb-list w3-table-all w3-small w3-responsive">
    {% if source_entity.name|length > 50 %}
    <caption class="w3-left-align w3-small">
      {% else %}
    <caption class="w3-left-align">
      {% endif %}
      Table 1. List of accepted Taxa that {{ source_entity.name }} is matched against.
    </caption>
    <thead>
      <tr>
        <th>Taxon</th>
        <th>Reference</th>
        <th>Match</th>
        <th>Status</th>
      </tr>
    </thead>
    <tbody>
      {% if source_entity.entityrelation_set.count > 0 %}
        {% for relation in source_entity.entityrelation_set.all %}
          {% if relation.relation.name  == "Taxon Match" and relation.is_active %}
            <tr>
              {% if user.is_authenticated %}
              <td class="mb-public-internal"><a title="Press for Details" href="{% url 'entity_relation-detail' pk=relation.id %}">{{ relation.master_entity.name }} <span class="fa fa-link w3-small"></span></a></td>
              {% else %}
              <td class="mb-private-internal"><a title="Please login for Details" style="color:IndianRed;" href="">{{ relation.master_entity.name }} <span class="fa fa-link w3-small"></span></a></td>
              {% endif %}
              <td>{{ relation.master_entity.reference }}</td>
              <td>{{ relation.relation_status.name }}</td>
              <td>{{ relation.data_status.name }}</td>
            </tr>
          {% endif %}
        {% endfor %}
      {% else %}
        <tr>
          <td colspan="4">There are no accepted Taxa available.</td>
        </tr>
      {% endif %}
    </tbody>
  </table>
  {% if request.user|is_data_admin_or_owner:source_entity %}
  <br>
  <a title="Press for New" class="w3-button w3-tiny w3-round w3-padding-small w3-teal" href="{% url 'source_entity-attribute-new' source_entity.reference_id source_entity.id %}"><span class="fa fa-plus"></span></a>
  {% else %}
  <br>
  {% endif %}
  <table class="mb-list w3-table-all w3-small w3-responsive">
    {% if source_entity.name|length > 50 %}
    <caption class="w3-left-align w3-small">
      {% else %}
    <caption class="w3-left-align">
      {% endif %}
      Table 2. List of Source Traits for {{ source_entity.name }}.
    </caption>
    <thead>
      <tr>
        <th>Trait</th>
        <th>Value</th>
      </tr>
    </thead>
    <tbody>
      {% if sa_has_values|length > 0 %}
      {% for value in sa_has_values %}
      <tr>
        {% if user.is_authenticated %}
        <td class="mb-public-internal"><a title="Press for Details" href="{% url 'source_choiceset_option_value-detail' pk=value.id %}">{{ value.source_choiceset_option.source_attribute.name }} <span class="fa fa-link w3-small"></span></a></td>
        {% else %}
        <td class="mb-private-internal"><a title="Please login for Details" style="color:IndianRed;" href="">{{ value.source_choiceset_option.source_attribute.name }} <span class="fa fa-link w3-small"></span></a></td>
        {% endif %}
        <td>{{ value.source_choiceset_option.name }}</td>
      </tr>
      {% endfor %}
      {% else %}
      <tr>
        <td colspan="2">There are no Traits available.</td>
      </tr>
      {% endif %}
    </tbody>
  </table>
  {% if request.user|is_data_admin_or_owner:source_entity %}
  <br>
  <a title="Press for New" class="w3-button w3-tiny w3-round w3-padding-small w3-teal" href="{% url 'source_entity-measurement-new' source_entity.reference_id source_entity.id %}"><span class="fa fa-plus"></span></a>
  {% else %}
  <br>
  {% endif %}
  <table class="mb-list w3-table-all w3-small w3-responsive">
    {% if source_entity.name|length > 50 %}
    <caption class="w3-left-align w3-small">
      {% else %}
    <caption class="w3-left-align">
      {% endif %}
      Table 3. List of Source Measurements for {{ source_entity.name }}.
    </caption>
    <thead>
      <tr>
        <th>Measurement</th>
        <th>Location</th>
        <th>n</th>
        <th>n females</th>
        <th>n males</th>
        <th>Minimum</th>
        <th>Mean</th>
        <th>Maximum</th>
        <th>STD</th>
        <th>Unit</th>
      </tr>
    </thead>
    <tbody>
      {% if sa_has_measurements|length > 0 %}
        {% for measurement in sa_has_measurements %}
        {% if user.is_authenticated %}
          <td class="mb-public-internal"><a title="Press for Details" href="{% url 'source_measurement_value-detail' pk=measurement.id %}">{{ measurement.source_attribute.name }} <span class="fa fa-link w3-small"></span></a></td>
        {% else %}
          <td class="mb-private-internal"><a title="Please login for Details" style="color:IndianRed;" href="">{{ measurement.source_attribute.name }} <span class="fa fa-link w3-small"></span></a></td>
        {% endif %}
        <td>{{ measurement.source_location|default_if_none:"-" }}</td>
        {% if measurement.n_total == 0 %}
          <td>-</td>
          <td>-</td>
          <td>-</td>
        {% else %}
          <td>{{ measurement.n_total }}</td>
          <td>{{ measurement.n_female }}</td>
          <td>{{ measurement.n_male }}</td>
        {% endif %}
        {% if measurement.n_total == 1 %}
          <td>{{ measurement.mean|floatformat:2 }}</td>
        {% else %}
          {% if measurement.minimum == 0 and measurement.maximum == 0 %}
            <td>-</td>
          {% else %}
            <td>{{ measurement.minimum|floatformat:2 }}</td>
          {% endif %}
        {% endif %}
        <td>{{ measurement.mean|floatformat:2 }}</td>
        {% if measurement.n_total == 1 %}
          <td>{{ measurement.mean|floatformat:2 }}</td>
        {% else %}
          {% if measurement.minimum == 0 and measurement.maximum == 0 %}
            <td>-</td>
          {% else %}
            <td>{{ measurement.maximum|floatformat:2 }}</td>
          {% endif %}
        {% endif %}
        <td>
          {% if measurement.std %}
            {{ measurement.std|floatformat:2 }}
          {% else %}
            -
          {% endif %}
        </td>
        <td>{{ measurement.source_unit.name|default_if_none:"-" }}</td>
        </tr>
      {% endfor %}
      {% for attribute in sa_no_measurements %}
      <tr>
        <td>{{ attribute.name }}</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td>
          {% if request.user|is_data_admin_or_owner:source_entity %}
          <a class="btn btn-default" href="{% url 'source-measurementvalue-new' sa=attribute.id se=source_entity.id %}"><span title="Press to Edit" class="fa fa-search"></span></a>
          {% else %}
          {% endif %}
        </td>
      </tr>
      {% endfor %}
      {% else %}
      <tr>
        <td colspan="10">There are no Measurements available.</td>
      </tr>
      {% endif %}
    </tbody>
  </table>
</section>
{% endblock %}
{% block info %}
{% endblock %}
{% block pagination %}
{% endblock %}
{% block script %}
{% endblock %}
