{% extends "mb/base_generic.html" %}
{% block title %}
<title>MammalBase - Source Trait: {{ source_attribute.name }}</title>
{% endblock %}
{% block content %} {% load custom_tags %}
<!--Article header -->
<header style="display:none">
  <h1>MammalBase - Source Trait: {{ source_attribute.name }}</h1>
</header>
<!--End of article header -->
<section class="w3-threequarter w3-container">
  <header class="w3-container w3-text-teal">
    <h2 style="display:none">Source Trait: {{ source_attribute.name }}</h2>
  </header>
  <br>
  <div class="mb-detail w3-bar w3-right-align">
    <a title="Press to Go Back" class="w3-button w3-tiny w3-round w3-padding-small w3-teal" onclick="backFunction()"><span class="fa fa-arrow-left"></span></a>
    {% if request.user|is_data_admin_or_owner:source_attribute %}
      <a title="Press to Edit" class="w3-button w3-tiny w3-round w3-padding-small w3-teal" href="{% url 'source_attribute-edit' pk=source_attribute.pk %}"><span class="fa fa-pencil-square-o"></span></a>
      <a title="Press to Delete" class="w3-button w3-tiny w3-round w3-padding-small w3-teal" href="{% url 'source_attribute-delete' pk=source_attribute.pk %}"><span class="fa  fa-trash-o"></span></a>
    {% else %}
      <button title="Please login to Edit" class="w3-disabled w3-button w3-tiny w3-round w3-padding-small w3-teal"><span class="fa fa-pencil-square-o"></span></button>
      <button title="Please login to Delete" class="w3-disabled w3-button w3-tiny w3-round w3-padding-small w3-teal"><span class="fa  fa-trash-o"></span></button>
    {% endif %}
  </div>
  <table class="mb-detail w3-table-all w3-responsive">
    <caption class="mb-detail w3-left-align">Source Trait: {{ source_attribute.name }}</caption>
    <tr>
      <th class="w3-quarter">Source Trait:</th>
      <td class="w3-threequarter">{{ source_attribute.name }}</td>
    </tr>
    <tr>
      <th class="w3-quarter">Reference:</th>
      {% if user.is_authenticated %}
        <td class="mb-private-internal w3-threequarter"><a title="Press for Details" href="{% url 'source_reference-detail' pk=source_attribute.reference.id %}">{{ source_attribute.reference }} <span class="fa fa-link w3-small"></span></a></td>
      {% else %}
        <td class="mb-private-internal w3-threequarter"><a title="Please login for Details" style="color:IndianRed;" href="">{{ source_attribute.reference }}<span class="fa fa-link w3-small"></span></a></td>
      {% endif %}
    </tr>
  </table>
  {% if request.user|is_data_admin_or_owner:source_attribute %}
    <br>
    <a title="Press to Add new" class="w3-button w3-tiny w3-round w3-padding-small w3-teal" href="{% url 'attribute-relation-new' source_attribute.id %}"><span class="fa fa-plus"></span></a>
  {% else %}
    <button title="Please login to Add new" class="w3-disabled w3-button w3-tiny w3-round w3-padding-small w3-teal"><span class="fa fa-plus"></span></button>
    <br>
  {% endif %}
  <table class="mb-list w3-table-all w3-small">
    <caption class="w3-left-align">Table 1. List of Standard traits for <b><i>{{ source_attribute.name }}</i></b>.</caption>
    <thead>
      <tr>
        <th>Standard Trait</th>
        <th>Reference</th>
      </tr>
    </thead>
    <tbody>
      {% if source_attribute.attributerelation_set.count > 0 %}
      {% for ma in source_attribute.attributerelation_set.all %}
      <tr>
        <td class="mb-public-internal"><a title="Press for Details" href="{% url 'master_attribute-detail' pk=ma.master_attribute.id %}">{{ ma.master_attribute }} <span class="fa fa-link w3-small"></span></a></td>
        <td title="{{ ma.master_attribute.reference|safe }}">{{ ma.master_attribute.reference|truncatechars:50|safe }}</td>
      </tr>
      {% endfor %}
      {% else %}
        <tr><td colspan="2">There are no related standard Traits available.</td></tr>
      {% endif %}
    </tbody>
  </table>
  {% if request.user|is_data_admin_or_owner:source_attribute %}
    <br>
    <a title="Press to Add new" class="w3-button w3-tiny w3-round w3-padding-small w3-teal" href="{% url 'source_attribute_source_choiceset_option-new' source_attribute.id %}"><span class="fa fa-plus"></span></a>
  {% else %}
    <button title="Please login to Add new" class="w3-disabled w3-button w3-tiny w3-round w3-padding-small w3-teal"><span class="fa fa-plus"></span></button>
    <br>
  {% endif %}
  <table class="mb-list w3-table-all w3-small">
    <caption class="w3-left-align">Table 2. List of Source Trait values for <b><i>{{ source_attribute.name }}</i></b>.</caption>
    <thead>
      <tr>
        <th>Source Trait value</th>
        <th class="w3-left">Standard Trait value(s)</th>
      </tr>
    </thead>
    <tbody>
      {% if source_attribute.sourcechoicesetoption_set.count > 0 %}
      {% for c in source_attribute.sourcechoicesetoption_set.all %}
      <tr>
        {% if user.is_authenticated %}
          <td class="mb-private-internal"><a title="Press for Details" href="{% url 'source_choiceset_option-detail' pk=c.id %}">{{ c.name }} <span class="fa fa-link w3-small"></span></a></td>
        {% else %}
          <td class="mb-private-internal"><a title="Please login for Details" style="color:IndianRed;" href="">{{ c.name }} <span class="fa fa-link w3-small"></span></a></td>
        {% endif %}
        {% if c.choicesetoptionrelation_set.count > 0 %}
          <td class="w3-left">
          {% for mco in c.choicesetoptionrelation_set.all %}
            {{ mco.master_choiceset_option }}<br>
          {% endfor %}
          </td>
        {% else %}
          <td class="w3-left"></td>
        {% endif %}
      </tr>
      {% endfor %}
      {% else %}
      <tr><td colspan="2">There are no Standard Trait values available.</td></tr>
      {% endif %}
    </tbody>
  </table>
</section>
{% endblock %}
{% block info %}
{% endblock %}
{% block pagination %}
{% endblock %}
{% block script %}
{% endblock %}
