{% extends "mb/index_diet.html" %}
{% block title %}
<title>MammalBase - Time Period: {{ time_period.name }}</title>
{% endblock %}
{% block content %} {% load custom_tags %}
<!--Article header -->
<header style="display:none">
  <h1>MammalBase - Time Period: {{ time_period.name }}</h1>
</header>
<!--End of article header -->
<section class="w3-threequarter w3-container">
  <header class="w3-container w3-text-teal">
    <h2 style="display:none">Time Period: {{ time_period.name }}</h2>
  </header>
  <br>
  <div class="mb-detail w3-bar w3-right-align">
    <a title="Press to Go Back" class="w3-button w3-tiny w3-round w3-padding-small w3-teal" href="{{request.META.HTTP_REFERER}}"><span class="fa fa-arrow-left"></span></a>
    {% if request.user|is_data_admin_or_owner:time_period %}
      <a title="Press to Edit" class="w3-button w3-tiny w3-round w3-padding-small w3-teal" href="{% url 'time_period-edit' pk=time_period.pk %}"><span class="fa fa-pencil-square-o"></span></a>
      <a title="Press to Delete" class="w3-button w3-tiny w3-round w3-padding-small w3-teal" href="{% url 'time_period-delete' pk=time_period.pk %}"><span class="fa  fa-trash-o"></span></a>
    {% else %}
      <button title="Please login to Edit" class="w3-disabled w3-button w3-tiny w3-round w3-padding-small w3-teal"><span class="fa fa-pencil-square-o"></span></button>
      <button title="Please login to Delete" class="w3-disabled w3-button w3-tiny w3-round w3-padding-small w3-teal"><span class="fa  fa-trash-o"></span></button>
    {% endif %}
  </div>
  <table class="mb-detail w3-table-all w3-responsive">
    <caption class="mb-detail w3-left-align">Time Period: {{ time_period.name }}</caption>
    <tr>
      <th class="w3-quarter">Time Period:</th>
      <td class="mb-public-internal w3-threequarter">{{ time_period.name }}</td>
    </tr>
    <tr>
      <th class="w3-quarter">Time in months:</th>
      <td class="mb-public-internal w3-threequarter">{{ time_period.time_in_months }}</td>
    </tr>
  </table>
</section>
{% endblock %}
{% block info %}
{% endblock %}
{% block pagination %}
{% endblock %}
{% block script %}
{% endblock %}
