{% extends "mb/index_diet.html" %}
{% block title %}
<title>MammalBase - Time Period: {{ time_period.name }}</title>
{% endblock %}
{% block content %} {% load custom_tags %}
<!--Article header -->
<header style="display:none">
  <h1>MammalBase - Time Period: {{ time_period.name }}</h1>
</header>
<!--End of article header -->
<section class="w3-threequarter w3-container">
  <header class="w3-container w3-text-teal">
    <h2 style="display:none">Time Period: {{ time_period.name }}</h2>
  </header>
  <br>
{% include 'includes/detail_action_buttons.html' with object=time_period edit_url='time_period-edit' delete_url='time_period-delete' %}
  <table class="mb-detail w3-table-all">
    <caption class="mb-detail w3-left-align">Time Period: {{ time_period.name }}</caption>
    <tr>
      <th class="w3-quarter">Time Period:</th>
      <td class="mb-public-internal w3-threequarter">{{ time_period.name }}</td>
    </tr>
    <tr>
      <th class="w3-quarter">Time in months:</th>
      <td class="mb-public-internal w3-threequarter">{{ time_period.time_in_months }}</td>
    </tr>
  </table>
</section>
{% endblock %}
{% block info %}
{% endblock %}
{% block pagination %}
{% endblock %}
{% block script %}
{% endblock %}
