{% extends 'mb/base_generic.html' %}

{% block script %}
<!-- Used for Django select2 -->
  {{ form.media.js }}
{% endblock %}

{% block title %}
  <title>MammalBase - Export measurements</title>
{% endblock %}

{% block content %} {% load custom_tags %}
  <!--Article header -->
  <header style="display:none">
    <h1>MammalBase - Export measurements</h1>
  </header>
  <!--End of article header -->
  <section class=" w3-container">
    <header class="w3-container w3-text-teal">
      <h2>Exporting measurements</h2>
    </header>
    
    {% if user.is_authenticated %}
		{% include 'includes/messaging.html' %}


    {% else %}
      <p><a href="{% url 'login'%}?next={{request.path}}">Please login first</a></p>
    {% endif %}

  </section>
{% endblock %}